@import "../../../css/cropper.min.css";
@import "../../../tmp/merge/tip.index.css";
@import "../../../tmp/merge/dialog.index.css";
@import "../../../tmp/merge/backTop.index-1.css";
@import "../../../tmp/merge/dialog-float.index.css";
@import "../../../tmp/merge/rotate.index.css";
.disnone {
  display: none;
}
.container-1200 {
  width: 1200px;
  margin: 0 auto;
}
.pag {
  border: 1px solid #ddd;
  border-right: none;
  display: inline-block;
}
.pag li {
  float: left;
  margin-bottom: 0;
}
.pag li a {
  display: inline-block;
  padding: 2px 12px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 13px;
  color: #666;
  cursor: pointer;
  border-right: 1px solid #ddd;
}
.pag li.active a {
  background: #2096e9;
  color: #fff;
}
.pag li.disabled a {
  cursor: default;
}
.pd1725 {
  padding-top: 17px;
  padding-bottom: 25px;
}
.pd1010 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.mt18 {
  margin-top: 18px;
}
.mt20 {
  margin-top: 20px;
}
.mt35 {
  margin-top: 35px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: .8;
  background: #000;
  z-index: 1000;
  display: none;
}
/*头部-蓝色导航*/
.g-top {
  margin-bottom: 20px;
  background: #57a8ff;
}
.g-top .g-top-con {
  height: 34px;
  line-height: 34px;
  color: #fff;
  font-size: 14px;
}
.g-top .g-top-con a {
  color: #fff;
}
.info-contaner {
  width: 1200px;
  margin: 0 auto;
}
/*左侧菜单*/
.g-left {
  background: #00498a;
  width: 210px;
  float: left;
}
.g-left .menu {
  margin-bottom: 12px;
  background: #00498a;
}
.g-left .menu h2 {
  position: relative;
  width: 100%;
  height: 52px;
  line-height: 52px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-align: center;
}
.g-left .menu h2:hover {
  color: #fff;
  cursor: pointer;
  background: #57a8ff;
}
.g-left .menu h2 i {
  position: absolute;
  right: 20px;
  display: inline-block;
  width: 0;
  height: 0;
  top: 16px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 6px solid #57a8ff;
}
.g-left .menu h2 i.down {
  top: 22px;
  border-top: 6px solid #57a8ff;
  border-bottom: 6px solid transparent;
}
.g-left .menu h2 a {
  color: #fff;
  display: block;
}
.g-left .menu ul {
  list-style: none;
  padding-bottom: 15px;
  margin: 0;
}
.g-left .menu ul li a {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding-right: 6px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 2px solid transparent;
}
.g-left .menu ul li a:hover {
  color: #fff;
  cursor: pointer;
  /* border-left: 2px solid @col-57a;
   border-top: 1px solid @col-eee;
   border-bottom: 1px solid @col-eee;*/
  background-color: #57a8ff;
}
.g-left .menu ul li a.active {
  color: #fff;
  cursor: pointer;
  /* border-left: 2px solid @col-57a;
   border-top: 1px solid @col-eee;
   border-bottom: 1px solid @col-eee;*/
  background-color: #57a8ff;
}
.g-left .menu ul li .sub a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}
.g-left .menu ul li .sub a i {
  position: absolute;
  top: 13px;
  left: 20px;
  width: 5px;
  height: 5px;
  background: #57a8ff;
}
.g-left .menu ul li .sub a strong {
  display: inline-block;
  text-align: left;
  font-weight: normal;
}
.g-left .menu ul li .sub a:hover {
  color: #2196e9;
  cursor: pointer;
  background: transparent;
  /* border-left: 2px solid transparent;
               border-top: 1px solid transparent;
               border-bottom: 1px solid transparent;*/
}
.g-left .menu ul li .sub a.bg57a {
  background-color: #57a8ff;
}
/*右侧内容区域*/
.g-right {
  width: 970px;
  float: right;
}
.g-right .m-con-wrap {
  padding-bottom: 60px;
  border: 1px solid #eee;
  background: #fff;
  min-height: 605px;
}
.g-right .m-con-wrap .m-con-hd {
  height: 52px;
  line-height: 52px;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 18px;
  color: #000;
  border-bottom: 1px solid #eee;
}
.g-right .m-con-wrap .m-con-hd span {
  display: inline-block;
  height: 52px;
  line-height: 52px;
  padding: 0 5px;
  margin-right: 35px;
  cursor: pointer;
}
.g-right .m-con-wrap .m-con-hd span:hover {
  cursor: pointer;
}
.g-right .m-con-wrap .m-con-hd span.active {
  border-bottom: 2px solid #57a8ff;
}
.g-right .m-con-wrap .m-con-bd {
  width: 922px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}
.g-right .m-con-wrap .m-con-bd p {
  padding-left: 17px;
  font-size: 14px;
  color: #999;
  line-height: 24px;
}
.dimension {
  color: #666;
  position: relative;
  font-size: 16px;
}
.dimension .close_x {
  position: absolute;
  top: -45px;
  right: 0;
  font-size: 30px;
  font-style: normal;
  color: #fff;
  cursor: pointer;
}
.dimension h5 {
  height: 57px;
  line-height: 57px;
  font-size: 18px;
  color: #333;
  font-weight: 400;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.dimension .investment-focus {
  padding: 20px 30px;
  width: 580px;
}
.dimension p {
  height: 35px;
  font-size: 16px;
}
.dimension p.verification-tip {
  margin: 20px 0;
}
.dimension p input {
  vertical-align: middle;
  margin-right: 10px;
}
.dimension .actualPayment {
  font-style: normal;
  color: #FF7365;
}
.dimension span {
  display: inline-block;
  height: 35px;
  width: 240px;
}
.dimension span i {
  font-style: normal;
  color: #FF7365;
}
.dimension .past-earnings,
.dimension .expect-income {
  margin-left: 30px;
}
.dimension input {
  border: 1px solid #D7D7D7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 38px;
  line-height: 38px;
  padding-left: 10px;
}
.dimension .password {
  width: 240px;
  margin-left: 16px;
}
.dimension a {
  color: #3f9bff;
  margin-left: 20px;
  font-size: 14px;
}
.dimension .act-pay {
  font-size: 16px;
  display: inline-block;
  width: 240px;
}
.dimension .discount {
  display: inline-block;
  margin-left: 30px;
  font-size: 16px;
}
.dimension .discount-tip,
.dimension .discount-coupon {
  display: inline-block;
  height: 30px;
  padding: 8px 0;
}
.dimension .verification-tip,
.dimension .verification-box {
  display: inline-block;
}
.dimension .verification-code {
  width: 168px;
}
.dimension .verification-box {
  height: 40px;
  line-height: 40px;
  border: 1px solid #D7D7D7;
  vertical-align: middle;
  margin-left: 10px;
}
.dimension .verification-box img {
  height: 100%;
  display: inline-block;
  float: left;
  cursor: pointer;
}
.dimension .verification-box a {
  display: inline-block;
  width: 40px;
  height: 100%;
  background: #2096E9;
  float: left;
  margin: 0;
}
.dimension .verification-box a i {
  display: inline-block;
  width: 18px;
  height: 20px;
  margin: 9px 0 0 12px;
  background: url("../../i/refresh.png") 0 0 no-repeat;
}
.dimension .authorization {
  display: inline-block;
  width: 274px;
  height: 35px;
  font-size: 14px;
}
.dimension .authorization input {
  vertical-align: middle;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  padding: 0 !important;
}
.dimension .authorization a {
  margin-left: 0;
}
.dimension .btn {
  height: 40px;
  line-height: 40px;
  display: block;
  width: 280px;
  border-radius: 3px;
  font: normal 20px/42px #666;
  background: #3f9bff;
  text-align: center;
  border: 0;
  color: #ffffff;
  margin: 10px;
  font-size: 18px;
  margin: 10px 0 10px 96px;
}
.dimension .btn:hover {
  background: #0266be;
}
.dimension .waiting {
  border: 1px solid #cccccc !important;
  background: #F3F3F3 !important;
  color: #cccccc !important;
  font-size: 14px;
}
.dimension .waiting:hover {
  background: #F3F3F3 !important;
}
.dimension .pop-error {
  font-size: 12px;
  border: 1px solid #FBB;
  width: 268px;
  border-radius: 3px;
  padding-left: 10px;
  background: #FDD;
  color: red;
  margin: 20px 0 0 96px;
  height: auto;
  line-height: 30px;
}
.dimension .pop-error a {
  font-size: 12px;
  margin: 0;
}
.dimension .past-returns {
  font-style: normal;
}
.pagination {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}
.pagination .total-page {
  padding: 2px 12px;
}
.pagination ul {
  float: right;
  display: inline-block;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  overflow: hidden;
}
.pagination li {
  float: left;
  border-right: 1px solid #ddd;
  margin: 0 auto;
  text-align: center;
  color: #878d96;
  overflow: hidden;
  font: 12px/1.5 "microsoft yahei";
}
.pagination li span,
.pagination li a {
  color: #878d96;
  text-align: left;
  margin: 0 auto;
}
.pagination li a {
  float: left;
  padding: 2px 10px;
}
.pagination li a:hover {
  background: #eeeeee;
}
.pagination li.last {
  border-right: none;
}
.pagination li.active {
  background: #33a9ff;
}
.pagination li.active a {
  color: #fff;
}
.pagination li.active a:hover {
  background: #33a9ff !important;
  color: #fff;
}
.pagination li .total-page,
.pagination li .allpages {
  padding: 2px 12px;
}
.filt-box {
  padding: 20px 0 15px 25px;
}
.filt-box li {
  font-size: 16px;
  color: #666666;
  display: inline-block;
  height: 36px;
}
.filt-box li.next-li {
  margin-left: 30px;
}
.filt-box a {
  display: inline-block;
  margin-right: 26px;
  font-size: 14px;
  color: #57a8ff;
}
.filt-box a:hover {
  color: #00498a;
}
.filt-box a.active {
  color: #fff;
  background: #57a8ff;
  border-radius: 2px;
  padding: 0 7px;
  height: 20px;
  text-align: center;
}
.filt-box a.active:hover {
  color: #fff;
  background: #00498a;
}
.filtrate-box {
  margin: 20px 0 30px 25px;
}
.filtrate-box p {
  font-size: 16px;
  color: #666;
  display: inline-block;
}
.filtrate-box .input-box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.filtrate-box .input-box input {
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 138px;
  height: 38px;
  padding-left: 10px;
  margin: 0 10px;
  font-size: 14px;
}
.filtrate-box .input-box i {
  position: absolute;
  display: inline-block;
  width: 27px;
  height: 28px;
  background: url("../../i/userSprites.png") -100px 0 no-repeat;
  top: 6px;
  right: 17px;
}
.filtrate-box a {
  display: inline-block;
  background: #57a8ff;
  border-radius: 3px;
  width: 80px;
  height: 40px;
  text-align: center;
  font: normal 18px/40px "microsoft yahei";
  color: #fff;
  vertical-align: middle;
}
.filtrate-box a:hover {
  background: #00498a;
}
.user-title a {
  display: inline-block;
  font-size: 18px;
  color: #333;
  letter-spacing: -0.44px;
  text-align: center;
  margin-right: 50px;
  cursor: pointer;
}
.user-title a:hover {
  border-bottom: 2px solid #57a8ff;
}
.user-title a.return {
  margin: 0;
}
.user-title a.return:hover {
  border: 0;
}
.user-title li {
  list-style: none;
  display: inline-block;
  font-size: 18px;
  line-height: 52px;
}
.user-title li.active a {
  border-bottom: 2px solid #57a8ff;
}
.table-box {
  padding: 0 25px;
  margin-top: 20px;
  min-height: 403px;
  position: relative;
}
.table-box table {
  width: 100%;
  border-collapse: collapse;
  border: 0;
}
.table-box table tr {
  height: 70px;
  border-bottom: 1px dashed #dedede;
}
.table-box table tr.title {
  height: 40px;
  border: 0;
}
.table-box table tr.no-record {
  text-align: center;
}
.table-box table tr.no-record a {
  color: #57a8ff;
  cursor: pointer;
}
.table-box table tr.no-record a:hover {
  color: #00498a;
}
.table-box table th {
  background: #F4F5F9;
  height: 40px;
  text-align: left;
  font-size: 14px;
  color: #999;
  border: 0;
  padding-left: 10px;
}
.table-box table th.one {
  width: 186px;
}
.table-box table th.two {
  width: 120px;
}
.table-box table th.three {
  width: 140px;
}
.table-box table th.four {
  width: 150px;
}
.table-box table td {
  font-size: 14px;
  color: #666;
  padding-left: 10px;
  position: relative;
}
.table-box table td span {
  display: block;
}
.table-box table td a {
  color: #57a8ff;
  cursor: pointer;
}
.table-box table td.main-color a {
  font-size: 14px;
  color: #57a8ff;
  cursor: pointer;
}
.table-box table td.main-color a:hover {
  color: #00498a;
}
.table-box table td.main-color a.no-quit {
  color: #888;
  cursor: default;
}
.table-box table td.main-color a.no-quit:hover {
  color: #888;
}
.table-box table td i {
  display: inline-block;
  padding: 2px 5px !important;
  font: normal 14px/16px "microsoft yahei";
}
.table-box table td i.orange,
.table-box table td i.green,
.table-box table td i.red,
.table-box table td i.blue {
  border-radius: 3px;
  height: 16px;
  color: #ffffff !important;
  background: #57a8ff;
  text-align: center;
}
.table-box table td i.orange {
  background: #FDA829;
}
.table-box table td i.green {
  background: lightgreen;
}
.table-box table td i.red {
  background: red;
}
.table-box table td i.blue {
  background: #0072ff;
}
.table-box table td .red-packet {
  position: absolute;
  width: 100px;
  text-align: center;
  bottom: 60px;
  left: -10px;
  background: #666;
  padding: 5px 10px;
  color: #fff;
  font: 300 12px "microsoft yahei";
  border-radius: 5px;
  display: none;
}
.table-box table td .red-packet i {
  padding: 0 !important;
  display: inline-block;
  width: 0;
  height: 0;
  border: 10px solid #666;
  border-color: #666 transparent transparent;
  position: absolute;
  bottom: -20px;
  left: 42%;
}
.table-box table td .red-packet em {
  display: block;
  font: normal 12px "microsoft yahei";
}
.table-box table td.red-even {
  cursor: pointer;
}
.table-box table td.red-even:hover .red-packet {
  display: block;
}
.table-box table td.no-pointer {
  cursor: default;
}
.table-box table td.blue-color {
  color: #57a8ff;
  cursor: pointer;
}
.table-box table td.blue-color:hover {
  color: #00498a;
}
.table-box table td.cursor {
  cursor: pointer;
}
.table-box table .status a {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background: #57a8ff;
  border-radius: 3px;
  padding: 2px 5px;
}
.table-box table .status a:hover {
  background: #00498a;
}
.table-box table .status .sign {
  background: #ffa900;
}
.table-box table .status .sign:hover {
  background: #cf8a02;
}
.table-box .other-pro {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font: normal 14px/20px "microsoft yahei";
  border-radius: 5px;
  top: 550px;
  left: 70px;
  padding: 10px;
}
.table-box .other-pro span {
  display: block;
  font: normal 14px/20px "microsoft yahei";
}
.table-box .other-pro i {
  width: 0;
  height: 0;
  border: 10px solid rgba(0, 0, 0, 0.6);
  border-color: transparent transparent rgba(0, 0, 0, 0.6) transparent;
  position: absolute;
  top: -20px;
  left: 40%;
}
.pagination {
  text-align: center;
}
.pagination ul {
  float: none;
}
.ui-datepicker-year,
.ui-datepicker-month {
  vertical-align: middle;
  font-size: 14px !important;
}
.back {
  cursor: pointer;
}
.btn {
  display: inline-block;
  background: #2096e9;
  border-radius: 5px;
  width: 280px;
  height: 40px;
  border: 0;
  color: #fff;
  font: normal 16px/40px "microsoft yahei";
  text-align: center;
  cursor: pointer;
}
.btn:hover {
  background: #00498a;
}
.operate-tip {
  min-width: 400px;
}
.operate-tip .tip-content {
  padding: 25px 25px 0;
}
.operate-tip p,
.operate-tip span {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #333333;
  font: normal 16px "microsoft yahei";
  height: 24px;
}
.operate-tip i {
  font: normal 16px "microsoft yahei";
}
.operate-tip .btn {
  margin: 20px auto 32px !important;
}
.error-tip {
  font-size: 13px;
  width: 267px;
  line-height: 28px;
  background-color: #FDD;
  border: 1px solid #FBB;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
  color: #F00;
  padding: 0 6px;
}
.get-code {
  background: #eee !important;
  color: #888 !important;
}
.openornot {
  position: relative;
  width: 560px;
  padding-bottom: 45px;
  background: #fff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.openornot .c_close {
  position: absolute;
  top: -48px;
  right: 0px;
  font-size: 33px;
  color: #fff;
}
.openornot .m-con-hd {
  height: 52px;
  line-height: 52px;
  text-align: center;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #eee;
}
.openornot .filed-user {
  position: relative;
  margin: 0 auto;
  width: 472px;
  margin-top: 32px;
  font-size: 16px;
  color: #666666;
}
.openornot .filed-user span {
  display: inline-block;
  width: 104px;
  margin-right: 20px;
  text-align: right;
  font-size: 16px;
  color: #666666;
}
.openornot .filed-user p {
  display: inline-block;
  font-size: 16px;
  color: #666;
  width: 100%;
}
.openornot .filed-user p a {
  display: inline-block;
  background: #2096e9;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}
.openornot .filed-user p a:hover {
  background-color: #0266be;
}
.openornot .filed-user p a.btn_right {
  background: #fff;
  color: #2096e6;
  border: 1px solid #2096e6;
  height: 38px;
  line-height: 38px;
  width: 198px;
  top: 0;
}
.openornot .filed-user p a.btn_right:hover {
  border: 1px solid #0266be;
  color: #0266be;
}
.mui-slider img {
  border: 0;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/load-image.png') center no-repeat;
}
.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: ".";
  visibility: hidden;
}
*html.clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
html {
  height: 100%;
  overflow: hidden;
  width: 100%;
  font: 12px/1.5 "microsoft yahei";
}
body {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  _position: static;
  width: 100%;
}
html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
input,
button,
textarea,
p,
th,
td,
figure,
font a {
  margin: 0;
  padding: 0;
  font: 12px/1.5 "microsoft yahei";
  color: #666;
}
input,
textarea {
  ontline: none;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input:focus,
textarea:focus,
input:active,
textarea:active {
  border-color: rgba(82, 168, 236, 0.8) !important;
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.fl,
.left {
  float: left;
}
.fr,
.right {
  float: right;
}
.hide {
  display: none !important;
}
input {
  outline: none;
}
ul {
  list-style-type: none;
}
ul li {
  list-style: none;
}
.disable {
  background: #f3f3f3!important;
  color: #cfcfcf!important;
  border: 1px solid #dedede!important;
}
#J_wrapBody,
.wrapBody {
  width: 100%;
  height: 100%;
  background: #f9f9f9;
  overflow-y: scroll;
}
.red {
  color: red !important;
}
/*@bg-logo:'@{abspath}css/i/logo-2.png';*/
.header {
  margin: 0 auto;
  width: 100%;
}
.header .header-wrap {
  height: 28px;
  width: 100%;
  background: #f4f5f9;
  border-bottom: 1px solid #dedede;
}
.header .header-nav {
  width: 1200px;
  height: 28px;
  margin: 0 auto;
  background: #f4f5f9;
  border-bottom: 1px solid #dedede;
}
.header .header-nav .nav-left {
  float: left;
  width: 700px;
  font: normal 12px/28px "microsoft yahei";
}
.header .header-nav .nav-left span {
  display: inline-block;
  position: relative;
}
.header .header-nav .nav-left span.phone,
.header .header-nav .nav-left span.weibo,
.header .header-nav .nav-left span.wechat {
  width: 24px;
  height: 20px;
}
.header .header-nav .nav-left span.phone i,
.header .header-nav .nav-left span.weibo i,
.header .header-nav .nav-left span.wechat i {
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 20px;
  cursor: pointer;
}
.header .header-nav .nav-left span.phone i {
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/mobile.png') no-repeat center;
  top: 4px;
}
.header .header-nav .nav-left span.weibo {
  margin: 0 8px;
}
.header .header-nav .nav-left span.weibo i {
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/weibo.png') no-repeat center;
  top: 4px;
}
.header .header-nav .nav-left span.wechat {
  margin: 0 10px;
}
.header .header-nav .nav-left span.wechat i {
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/weixin.png') no-repeat center;
  top: 5px;
}
.header .header-nav .nav-left span a {
  color: #666 !important;
}
.header .header-nav .nav-left span a.weibo-icon {
  position: absolute;
  display: block;
  width: 24px;
  height: 27px;
  z-index: 6666;
}
.header .header-nav .nav-right {
  float: right;
}
.header .header-nav .nav-right a {
  display: inline-block;
  font: normal 12px/28px "microsoft yahei";
  padding: 0 5px;
  color: #666666;
}
.header .header-nav .nav-right .nav-user {
  position: relative;
  display: inline-block;
  padding-right: 15px;
  cursor: pointer;
}
.header .header-nav .nav-right .nav-user,
.header .header-nav .nav-right .nav-user .cursor-default {
  cursor: default;
}
.header .header-nav .nav-right .nav-user span {
  color: #4894FF;
}
.header .header-nav .nav-right .nav-user i {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  top: 7px;
  right: 0px;
  vertical-align: top;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  content: "";
  opacity: 0.3;
}
.header .header-menu {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  height: 82px;
}
.header .header-menu .logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.header .header-menu .logo i {
  display: inline-block;
  height: 82px;
  width: 304px;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/logo-3.png') no-repeat center;
}
.header .header-menu .menu {
  float: right;
  margin-top: 30px;
}
.header .header-menu .menu li {
  float: left;
  padding: 5px 20px;
}
.header .header-menu .menu li.active a {
  border-bottom: 2px solid #57A8FF;
}
.header .header-menu .menu li a {
  position: relative;
  text-shadow: none;
  color: #000;
  font: 300 16px/30px "microsoft yahei";
}
.header .header-menu .menu li a i {
  position: absolute;
  right: -18px;
  top: 9px;
  display: inline-block;
  width: 12px;
  height: 8px;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/arrow-bottom.png') no-repeat;
}
.header .header-menu .menu li a:hover {
  color: #00498a;
}
.header .header-menu .menu li a.dropdown-hover {
  color: #00498a;
}
.header .header-menu .menu li a.dropdown-hover i {
  top: 6px;
  right: -16px;
  width: 8px;
  height: 12px;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/arrow-right.png') no-repeat;
}
.header .header-menu .menu li .new-hot span {
  display: inline-block;
  position: absolute;
  right: -30px;
  top: -10px;
  width: 31px;
  height: 14px;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/new-hot.png') no-repeat;
  background-size: 100% 100%;
}
.header .company-menu .logo {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.header .company-menu .logo i {
  display: inline-block;
  height: 83px;
  width: 365px;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/logo.png') no-repeat center;
}
.wrap-weibo {
  padding: 5px 8px;
  text-align: center;
}
.qr-code-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}
.header-code-img {
  height: 126px !important;
}
.invest-dropdown,
.user-dropdown {
  padding: 4px 0;
}
.invest-dropdown li,
.user-dropdown li {
  padding: 1px 0;
}
.invest-dropdown li a,
.user-dropdown li a {
  display: block;
  padding: 0 20px;
  text-align: center;
  font: normal 16px/26px "microsoft yahei";
  color: #666;
}
.invest-dropdown li a:hover,
.user-dropdown li a:hover {
  color: #428bca;
}
.invest-dropdown .hot,
.user-dropdown .hot {
  position: relative;
}
.invest-dropdown .hot i,
.user-dropdown .hot i {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 22px;
  height: 8px;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/myNew.png') no-repeat;
  background-size: 22px 8px;
}
#J_dialogState .mui-dialog-inner {
  overflow: visible !important;
}
.state-wrap {
  position: relative;
  width: 66px;
  height: 15px;
}
.state-wrap .state-bg {
  position: absolute;
  width: 1200px;
  height: 570px;
  left: -567px;
  top: -260px;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/dialog-state.png?v1') no-repeat;
}
.state-wrap .c_close {
  position: absolute;
  display: block;
  top: -255px;
  right: -170px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.state-wrap a {
  cursor: pointer;
}
.state-wrap .state-img {
  display: block;
  width: 464px;
  height: 475px;
  position: absolute;
  top: -254px;
  left: -286px;
}
.state-wrap .state-btn {
  display: block;
  width: 237px;
  height: 88px;
  position: absolute;
  top: 221px;
  left: -194px;
}
.disnone {
  display: none;
}
#J_dialogBorrow .mui-dialog-inner {
  background: none;
}
.dialog-borrow {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.dialog-borrow .content-tips {
  position: absolute;
  left: 50%;
  top: 160px;
  margin-left: -250px;
  width: 500px;
  height: 254px;
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
}
.dialog-borrow .content-tips i {
  position: absolute;
  right: 0;
  top: -30px;
  width: 16px;
  height: 16px;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/close-tips.png') no-repeat;
  background-size: 100% 100%;
}
.dialog-borrow .content-tips h4 {
  width: 100%;
  height: 56px;
  line-height: 56px;
  text-align: center;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #ccc;
}
.dialog-borrow .content-tips p {
  width: 400px;
  margin: 30px auto 0;
  font-size: 16px;
  color: #666;
  text-align: center;
}
.dialog-borrow .content-tips .go-to {
  width: 364px;
  margin: 30px auto 0;
}
.dialog-borrow .content-tips .go-to button {
  width: 280px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  background-color: #2096E9;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.footer {
  margin: 0 auto;
}
.footer .footer-wrap {
  width: 1200px;
  margin: 30px auto 0;
  background-color: #4b78c6;
}
.footer .footer-info {
  margin: 0 30px;
  padding: 30px 0;
}
.footer .about-us {
  float: left;
}
.footer .about-us .call-us {
  display: block;
  width: 400px;
  height: 40px;
  background: url(//www.xinxindai.com/static/images/public/xxd-v6.png) no-repeat 0 0;
}
.footer .about-us .qr-code-list {
  margin-top: 70px;
}
.footer .about-us .qr-code-list span {
  color: #fff;
  font: normal 14px/30px "microsoft yahei";
  vertical-align: 8px;
}
.footer .about-us .qr-code-list i {
  display: inline-block;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.footer .about-us .qr-code-list .weibo-icon {
  background: url(//www.xinxindai.com/static/images/public/xxd-v6.png) no-repeat -114px -59px;
}
.footer .about-us .qr-code-list .wechat-icon {
  background: url(//www.xinxindai.com/static/images/public/xxd-v6.png) no-repeat -84px -59px;
}
.footer .about-us .qr-code-list .ios-icon {
  background: url(//www.xinxindai.com/static/images/public/xxd-v6.png) no-repeat -144px -59px;
}
.footer .about-us .qr-code-list .android-icon {
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/android.png') no-repeat;
}
.footer .footer-intro,
.footer .footer-safe,
.footer .footer-newer,
.footer .footer-phone {
  float: right;
  width: 90px;
  margin-left: 15px;
}
.footer .footer-intro ul,
.footer .footer-safe ul,
.footer .footer-newer ul,
.footer .footer-phone ul {
  position: relative;
}
.footer .footer-intro li,
.footer .footer-safe li,
.footer .footer-newer li,
.footer .footer-phone li {
  text-align: right;
  font: normal 14px/38px "microsoft yahei";
}
.footer .footer-intro li a,
.footer .footer-safe li a,
.footer .footer-newer li a,
.footer .footer-phone li a {
  color: #fff;
}
.footer .footer-intro li.first,
.footer .footer-safe li.first,
.footer .footer-newer li.first,
.footer .footer-phone li.first {
  padding-bottom: 15px;
}
.footer .footer-intro .borrow-scan,
.footer .footer-safe .borrow-scan,
.footer .footer-newer .borrow-scan,
.footer .footer-phone .borrow-scan {
  position: absolute;
  top: 0;
  left: -90px;
}
.footer .footer-link {
  position: relative;
  border-top: 1px dashed #fff;
  padding-top: 15px;
  margin: 0 30px 20px;
}
.footer .footer-link.close-down ul {
  height: 25px;
  overflow: hidden;
}
.footer .footer-link .footer-link-title,
.footer .footer-link ul li {
  font: normal 14px/25px "microsoft yahei";
  float: left;
  color: #fff;
}
.footer .footer-link ul li {
  float: left;
  padding-right: 15px;
}
.footer .footer-link ul li a {
  color: #fff;
}
.footer .footer-link.close-down .switch-icon {
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/footer-arrow-down.png') no-repeat;
}
.footer .footer-link .switch-icon {
  position: absolute;
  display: block;
  width: 14px;
  height: 15px;
  right: 0px;
  top: 20px;
  cursor: pointer;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/footer-arrow-up.png') no-repeat;
}
.footer .footer-bottom {
  margin: 0 auto;
  text-align: center;
  background: white;
  padding: 20px 0 10px 0;
}
.footer .footer-bottom .text,
.footer .footer-bottom .text a {
  color: #666;
  font: normal 13px/20px "microsoft yahei";
}
.footer .footer-bottom .text:hover,
.footer .footer-bottom .text a:hover {
  color: #428bca;
}
.footer .footer-bottom .text .chapter,
.footer .footer-bottom .text a .chapter {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 8px;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/chapter.png') no-repeat center;
  margin-bottom: -4px;
}
.footer .footer-icons {
  margin: 10px auto 0;
  text-align: center;
}
.footer .x1 {
  width: 140px;
  height: 28px;
  display: inline-block;
  background: url(//www.xinxindai.com/static/images/public/hlwjb.png) no-repeat 0px -37px;
  position: relative;
  color: #fff;
}
.footer .x2 {
  width: 28px;
  height: 28px;
  display: inline-block;
  background: url(//www.xinxindai.com/static/images/public/foot-new.png) no-repeat -2px -156px;
}
.footer .x3 {
  width: 67px;
  height: 26px;
  display: inline-block;
  background: url(//www.xinxindai.com/static/images/public/foot-new.png) no-repeat -3px -97px;
}
.footer .x4 {
  width: 75px;
  height: 28px;
  display: inline-block;
  background: url(//www.xinxindai.com/static/images/public/foot-new.png) no-repeat -3px -35px;
}
.footer .x5 {
  width: 130px;
  height: 28px;
  display: inline-block;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/x5.png') no-repeat 0px -35px;
}
.footer .x6 {
  width: 76px;
  height: 28px;
  display: inline-block;
  background: url('//static.xinxindai.com/pc/1.4.0/build/css/i/x6.png') no-repeat;
}
.g-left .menu h2 {
  background: #57a8ff;
}
.g-left .menu h2 a {
  display: block;
}
.g-right img {
  display: inline-block;
  background: url('../../../css/i/personal_r2_c2.png') 0 0 no-repeat;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  margin-right: 15px;
  cursor: pointer;
}
.account-detail {
  width: 100%;
}
.account-detail > div {
  width: 28.1%;
  height: 58px;
  float: left;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  overflow: hidden;
  padding: 20px 25px;
}
.account-detail > div.br {
  border-right: 0;
}
.account-detail p {
  color: #333;
  font: normal 16px "microsoft yahei";
}
.account-detail .head-portrait {
  padding: 25px 25px 15px;
  overflow: inherit;
}
.account-detail .head-portrait .change-head {
  background-size: 100%;
}
.account-detail .head-portrait > div {
  margin-top: 5px;
}
.account-detail .head-portrait span,
.account-detail .head-portrait a {
  color: #666;
}
.account-detail .head-portrait .position {
  display: inline-block;
  background: #57a8ff;
  border-radius: 2px;
  width: 40px;
  text-align: center;
  color: #fff;
  margin-left: 10px;
  font: normal 14px/20px "microsoft yahei";
  position: relative;
}
.account-detail .head-portrait em {
  color: #999;
  display: block;
  margin-top: 4px;
  font: normal 12px "microsoft yahei";
}
.account-detail .head-portrait .position-tip {
  position: absolute;
  display: block;
  width: 176px;
  z-index: 10000;
  top: 0px;
  left: 52px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-radius: 5px;
  font-size: 13px;
  font: normal 12px/24px "microsoft yahei";
}
.account-detail .head-portrait .position-tip i {
  display: inline-block;
  width: 0;
  height: 0;
  border: 7px solid rgba(0, 0, 0, 0.7);
  border-color: transparent rgba(0, 0, 0, 0.7) transparent transparent;
  position: absolute;
  top: 5px;
  left: -14px;
}
.account-detail .safety {
  overflow: inherit;
}
.account-detail .safety .grade {
  display: inline-block;
  background: #d8d8d8;
  border-radius: 2px;
  width: 40px;
  height: 20px;
  text-align: center;
  color: #fff;
  font: normal 14px/20px "microsoft yahei";
}
.account-detail .safety .grade.active {
  background: #57a8ff;
}
.account-detail .safety .manage {
  color: #57a8ff;
  margin-left: 10px;
}
.account-detail .safety .manage:hover {
  color: #00498a;
}
.account-detail .safety .allicon a {
  display: inline-block;
  background: #57a8ff;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  margin: 10px 10px 0 0;
  position: relative;
}
.account-detail .safety .allicon a span {
  display: inline-block;
  position: absolute;
  top: -32px;
  left: -32px;
  font: normal 12px/20px "micsoft yahei";
  width: max-content;
  background: rgba(0, 0, 0, 0.7);
  padding: 0 8px;
  color: #fff;
  border-radius: 5px;
}
.account-detail .safety .allicon a i {
  display: inline-block;
  width: 0;
  height: 0;
  border: 8px solid rgba(0, 0, 0, 0.7);
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  position: absolute;
  top: 20px;
  left: 42%;
}
.account-detail .safety .allicon a.mail {
  background: url('../i/icons.png') 0 0 no-repeat;
}
.account-detail .safety .allicon a.tel {
  background: url('../i/icons.png') 0 -29px no-repeat;
}
.account-detail .safety .allicon a.lock {
  background: url('../i/icons.png') 0 -58px no-repeat;
}
.account-detail .safety .allicon a.lock span {
  left: -42px;
}
.account-detail .safety .allicon a.autonym {
  background: url('../i/icons.png') 0 -87px no-repeat;
}
.account-detail .safety .allicon a.star {
  background: url('../i/icons.png') 0 -116px no-repeat;
}
.account-detail .safety .allicon a.deposit {
  background: url('../i/icons.png') 0 -145px no-repeat;
}
.account-detail .safety .allicon a.deposit span {
  left: -42px;
}
.account-detail .safety .allicon a.active {
  background-position-x: -29px;
}
.account-detail .coins p {
  font: normal 16px/26px "microsoft yahei";
}
.account-detail .coins a {
  color: #57a8ff;
}
.account-detail .month-sum > div {
  display: inline-block;
  width: 132px;
}
.account-detail .month-sum p {
  font: normal 16px "microsoft yahei";
  margin-bottom: 10px;
}
.account-detail .month-sum i,
.account-detail .month-sum span {
  font: normal 22px "microsoft yahei";
}
.account-detail .month-sum span {
  color: #ff0000;
}
.account-detail .month-sum i {
  color: #57a8ff;
}
.account-detail .year-sum .mt {
  margin-top: 12px;
}
.account-detail .year-sum i,
.account-detail .year-sum span {
  font: normal 16px "microsoft yahei";
}
.account-detail .year-sum span {
  color: #ff0000;
}
.account-detail .year-sum i {
  color: #57a8ff;
}
.account-detail .operate a {
  width: 100px;
  height: 30px;
  line-height: 30px;
  margin-top: 15px;
  margin-left: 18px;
}
.account-detail .operate a.ml {
  width: 98px;
  height: 28px;
  line-height: 28px;
  margin-left: 25px;
  border: 1px solid #57a8ff;
  background: #fff;
  color: #57a8ff !important;
}
.account-detail .operate a.ml:hover {
  color: #004a8b !important;
  border: 1px solid #004a8b;
}
.property {
  margin-top: 70px;
  border-top: 1px solid #eee;
}
.table-box {
  width: 640px;
  float: right;
  margin-top: 30px !important;
  position: relative;
}
.table-box td,
.table-box th {
  text-align: center !important;
}
.table-box .active {
  background: #F4F5F9;
}
.table-box .kyye-style,
.table-box .djje-style {
  position: absolute;
  top: 268px;
  left: -246px;
  height: 40px;
  border: 1px solid #dedede;
}
.table-box .kyye-style td,
.table-box .djje-style td {
  padding: 10px;
  width: 140px;
}
.table-box .kyye-style td:first-child,
.table-box .djje-style td:first-child {
  border-right: 1px solid #dedede;
  width: 60px;
}
.table-box .djje-style {
  top: 309px;
  left: -246px;
}
.my-property {
  width: 250px;
  height: 250px;
  float: left;
  margin: 30px 0 0 25px;
  position: relative;
}
.my-property .hover-tip {
  cursor: pointer;
  z-index: 100000;
  position: absolute;
  top: 100px;
  left: 43px;
  width: 160px;
  display: block;
  height: 50px;
}
.my-property .hover-tip P {
  display: none;
  position: absolute;
  top: -80px;
  left: 74px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10000;
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
}
.my-property .hover-tip P i {
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border: 10px solid #000;
  border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent;
  left: 20px;
  bottom: -20px;
}
.my-property .hover-tip:hover p {
  display: block;
}
.my-property .centre {
  width: 250px;
  height: 250px;
  background: #eee;
  border-radius: 50%;
  float: left;
  position: relative;
}
.my-property .sum-property {
  position: absolute;
  top: 93px;
  left: 60px;
}
.my-property .sum-property p {
  text-align: center;
  color: #333;
  font: normal 18px/30px "microsoft yahei";
}
.deposit-tip {
  padding-left: 25px;
  float: left;
  width: 97.4%;
  background: #f9f9f9;
  height: 40px;
  border-bottom: 1px solid #eee;
  color: #ff5757 !important;
  font: normal 16px/40px "microsoft yahei" !important;
}
.deposit-tip a {
  display: inline-block;
  text-align: center;
  background: #57a8ff;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  font: normal 16px/30px "microsoft yahei";
  color: #fff;
  margin-left: 10px;
}
.deposit-tip a:hover {
  background: #00498a;
}
.settings {
  padding: 25px;
}
.settings .choice {
  border-bottom: 1px dashed #eee;
  margin-bottom: 20px;
}
.settings img {
  width: 68px;
  height: 68px;
}
.settings p {
  color: #333;
  font: normal 16px/20px "microsoft yahei";
}
.settings .old-head {
  margin-bottom: 16px;
}
.settings .old-head p {
  font: normal 14px/26px "microsoft yahei";
  color: #666;
  padding-left: 6px;
}
.settings .all-img {
  margin-top: 10px;
  width: 800px;
}
.settings .all-img img {
  margin-bottom: 20px;
  box-sizing: border-box;
}
.settings .all-img .active {
  border: 3px solid #0099ff;
}
.settings .btn {
  margin-bottom: 30px;
}
.settings .upload {
  position: relative;
  margin: 15px 0 10px;
}
.settings .upload span {
  display: inline-block;
  width: 167px;
  text-align: left;
  padding-left: 10px;
  color: #999;
  margin-right: 0;
  border: 1px solid #ccc;
  border-right: 0;
  height: 38px;
  vertical-align: middle;
  font: normal 16px/40px "microsoft yahei";
  border-radius: 2px 0 0 2px;
}
.settings .upload .file-end {
  background: #eee;
}
.settings .upload i {
  height: 40px;
  display: inline-block;
  width: 102px;
  font-style: normal;
  font-size: 16px;
  font: normal 16px/40px "microsoft yahei";
  color: #fff;
  background: #2096e9;
  text-align: center;
  cursor: pointer;
  margin-left: 0;
  vertical-align: middle;
  border-radius: 0 2px 2px 0;
}
.settings .upload input {
  position: absolute;
  left: 0;
  top: 0;
  height: 38px;
  opacity: 0;
  width: 280px;
  cursor: pointer;
}
.settings .tailor p {
  font: 400 16px/20px "microsoft yahei" !important;
}
.settings .tailor .tailor-img {
  margin: 20px 0;
  max-width: 600px;
  max-height: 600px;
}
.settings .tailor .tailor-img img {
  width: auto;
  height: auto;
}
.settings .user-defined em {
  font: normal 16px/20px "microsoft yahei" !important;
  display: block;
  margin-bottom: 20px;
}
.user-title .head-title {
  width: 100%;
}
.user-title .back {
  font: normal 18px/52px "microsoft yahei";
  float: right;
  margin: 0;
  cursor: pointer;
}
.user-title .back:hover {
  color: #00498a;
}
