<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>快捷充值_新新贷</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" th:href="@{${global.staticHost}+'/pc/'+${global.xxdVersion}+'/build/css/i/favicon.ico'}">
    <link rel="Bookmark" th:href="@{${global.staticHost}+'/pc/'+${global.xxdVersion}+'/build/css/i/favicon.ico'}">
    <meta name="keywords" content="新新贷，P2P网贷，P2P理财，投资理财，网上理财，新元宝，月月派，新手专享，投融资，贷款，企业贷款，无抵押小额贷款，借款"/>
    <meta name="description"
          content="新新贷是中国专业的互联网金融P2P网络借贷信息中介平台，为出借人和借款人提供省心的互联网金融信息服务。资金银行存管、严格的风控体系、信息披露透明等多重安全保障措施。"/>
    <link th:href="@{${global.staticHost}+'/pc/'+${global.xxdVersion}+'/build/css/reset.css?'+ ${new java.util.Date().getTime()} }" rel="stylesheet">
    <link th:href="@{${global.staticHost}+'/pc/'+${global.xxdVersion}+'/build/mods/user/fundRecord/recharge/_.css?'+ ${new java.util.Date().getTime()} }" rel="stylesheet">
</head>
<body>
<div id="J_wrapBody">
    <!--头部 start-->
    <div th:replace="common/header::header"></div>
    <!--头部 end-->
    <div class="g-top">
        <div class="g-top-con">
            <div class="container-1200">
                <a href="../../">首页</a> &gt; <a href="/usercenter/accountInfo.html">我的新新贷</a> &gt; <a href="javascript:void(0);">充值</a>
            </div>
        </div>
    </div>
    <div class="info-contaner clearfix">
        <div th:replace="usercenter/common/menu::menu('funds', 'recharge')"></div>
        <!--右侧内容区域-->
        <div class="g-right">
            <div class="m-con-wrap ">
                <div class="m-con-hd clearfix">
                    <a href="javascript:void(0);" th:if="${!#strings.equals(userInfo.usertype, '3')}" class="active quick-btn">快捷充值</a>
                    <a href="javascript:void(0);" class="banking-btn" th:classappend="${#strings.equals(userInfo.usertype, '3')} ? 'active'">网银充值</a>
                    <!-- <a href="javascript:;" class="offline-btn">线下充值</a> -->
                    <a class="rechargeRecord" th:if="${!#strings.equals(userInfo.usertype, '3')}" href="/usercenter/fundRecord/dealDetail.html?tab=2">充值记录</a>
                </div>
                <!--快捷充值-->
                <div class="quick-recharge recharge-list" th:if="${!#strings.equals(userInfo.usertype, '3')}">
                    <div class="m-con-bd">
                        <div class="filed-user">
                            <span class="threetxt">我的银行卡</span>
                            <p class="openbank"><span class="defaullogos">请选择银行卡</span><i onclick="window.location.href='/usercenter/bundled.html'">更换</i></p>
                            <div class="bluetipexc">
                                <i class="bluetip"></i>
                                <strong><label>单笔限额5000元，单日限额20000元，单月限额20000元</label></strong>
                            </div>
                        </div>
                        <div class="filed-user">
                            <span class="threetxt">充值金额</span>
                            <input type="text" placeholder="请输入充值金额" id="quickAmount" value="" /> 元(免手续费)
                        </div>
                        <div class="wrong_tip wt_pos" id="errorTip1">错误提示</div>
                        <a class="next" id="quickBtn">确认充值</a>
                    </div>
                </div>
                <!--网银充值-->
                <div class="banking-recharge recharge-list" th:styleappend="${#strings.equals(userInfo.usertype, '3')} ? 'display:block;'">
                    <div class="m-con-bd">
                        <div class="filed-user">
                            <span class="threetxt">充值金额</span>
                            <input type="text" placeholder="请输入充值金额" id="bankAmount" value="" ／> 元(免手续费)
                        </div>
                        <div class="wrong_tip wt_pos" id="errorTip2">错误提示</div>
                        <a class="next" id="bankBtn">确认充值</a>
                    </div>
                </div>
                <!--线下充值-->
                <div class="offline-recharge recharge-list">
                    <div class="m-con-bd">
                        <div class="filed-user">
                            <span class="threetxt">我的银行卡</span>
                            <p class="openbank"><span class="defaullogos">请选择银行卡</span><i onclick="window.location.href='/usercenter/bundled.html'">更换</i></p>
                        </div>
                        <div class="filed-user" style="margin-top:35px;">新新贷存管账户</div>
                        <ul class="tableList">
                            <li>
                                <strong>收款方户名</strong>
                                <strong>收款方账号</strong>
                                <strong>收款方开户行</strong>
                            </li>
                            <li>
                                <span>新新贷（上海）金融信息服务有限公司</span>
                                <span>800003071918</span>
                                <span>上海华瑞银行股份有限公司</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="warmth-warn quick-info">
                    <p>温馨提示：</p>
                    <p>1. 新新贷使用的是银行资金存管模式，网贷客户交易结算资金账户是完全属于您个人的独立账户，实现完全的资金隔离，新新贷会根据您的授权划拨资金给借款人，除此之外无权动用。
                    </p>
                    <p>2. 严禁洗钱、信用卡套现，一经发现将予以处罚，包括但不限于：冻结账户、永久停止服务，并可能会影响银行征信记录。
                    </p>
                </div>

                <div class="warmth-warn banking-info">
                    <p>温馨提示：</p>
                    <p>1. 新新贷使用的是银行资金存管模式，网贷客户交易结算资金账户是完全属于您个人的独立账户，实现完全的资金隔离，新新贷会根据您的授权划拨资金给借款人，除此之外无权动用。
                    </p>
                    <p>2. 严禁洗钱、信用卡套现，一经发现将予以处罚，包括但不限于：冻结账户、永久停止服务，并可能会影响银行征信记录。
                    </p>
                </div>

                <div class="warmth-warn offline-info">
                    <p>操作说明：</p>
                    <p>1. 线下充值针对大额转账需要，适用于充值金额超过50,000元。小于此金额，建议您使用快捷充值或网银充值。</p>
                    <p>2. 仅支持网银、手机银行、柜面操作，不支持支付宝、微信、ATM、现金转账。</p>
                    <p>3. 仅支持使用您已绑定存管户的银行卡进行操作；若需从本人其它银行卡转账，请先更换绑定银行卡。</p>
                    <p>4. 线下充值非实时到账：银行核对转入账户成功后，钱款将于一个工作日内从新新贷存管账户转入您在华瑞银行开设的个人存管账户中。</p>
                    <p>5. 充值过程中收取转账费用以银行规定为准；新新贷不收取其他任何费用。</p>
                    <p>6. 如充值失败，钱款将在10个工作日内退回您充值的银行卡。</p>
                    <p style="margin-bottom:15px;">7. 线下充值如遇问题，请联系客服：4000-169-521(工作日9:00-18:00)。</p>

                    <p>温馨提示：</p>
                    <p>1. 新新贷使用的是银行资金存管模式，网贷客户交易结算资金账户是完全属于您个人的独立账户，实现平台和资金安全隔离，新新贷会根据您的授权划拨资金给借款人，除此之外无权动用。
                    </p>
                    <p>2. 严禁洗钱、信用卡套现，一经发现将予以处罚，包括但不限于：冻结账户、永久停止服务，并可能会影响银行征信记录。
                    </p>
                </div>
            </div>
        </div>
        <!--弹框提示充值成功,已隐藏-->
        <div class="supernatant">
            <p>提示</p>
            <span>充值成功 !</span>
            <input type="button" value="确认">
        </div>
    </div>
    <div th:replace="common/footer::footer (${globalData},${global.xxdVersion})"></div>
</div>
<!--[if lt IE 9]>
<iframe id="ifr_cover" frameborder="0" class="hide" scrolling="no"></iframe>
<div id="alertBoxWrap" class="hide"></div>
<![endif]-->
</body>
<script th:src="@{${global.staticHost}+'/pc/'+${global.xxdVersion}+'/build/mods/user/fundRecord/recharge/_.js'}"></script>
</html>