.scanResult {
    margin-top: 50px;
    color: white;
    font-size: inherit;
    background: black;
}

.AtButton {
    margin-top: 10px;
}
.AtButton1 {
    margin-top: 20px;
}

.imageStyle {
    width: 30%;
    height: calc(100vw * 0.3);
    margin: 10px;
}