.mui-login * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.mui-dialog-login-custom {
  background: none!important;
  text-align: center!important;
  width: 100%!important;
  border-radius: 0!important;
}
@-webkit-keyframes show {
  0% {
    display: block;
    -webkit-transform: scale(0.5, 0.5);
  }
  60% {
    -webkit-transform: scale(1.03, 1.03);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@keyframes show {
  0% {
    display: block;
    transform: scale(0.5, 0.5);
  }
  60% {
    transform: scale(1.03, 1.03);
  }
  100% {
    transform: scale(1, 1);
  }
}
.mui-login {
  width: 90%;
  max-width: 300px;
  color: #535353;
  background: radial-gradient(circle at 100% -1px, rgba(0, 0, 0, 0) 16px, #fff 17px);
  border-radius: 3px;
  padding: 20px 0 10px 0;
  z-index: 1000;
  font-size: 14px;
  position: relative;
  margin: 15px 0;
  display: inline-block !important;
  animation: show .35s forwards;
  -moz-animation: show .35s forwards;
  -webkit-animation: show .35s forwards;
  -o-animation: show .35s forwards;
}
.mui-login p {
  margin: 0;
}
.mui-login .mui-login-title {
  display: block;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
.mui-login .mui-login-msg {
  text-align: center;
  margin-top: 10px;
  height: 30px;
  line-height: 30px;
  background: #ffeaef;
  color: #ff9cb4;
  overflow: hidden;
}
.mui-login ul {
  list-style: none;
  margin: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 4px;
}
.mui-login li {
  position: relative;
  padding: 5px 0;
  height: 50px;
}
.mui-login input,
.mui-login button {
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
  font-size: 1em;
  line-height: inherit;
  -webkit-appearance: none;
  outline: none;
}
.mui-login input {
  width: 100%;
  height: 40px;
  line-height: 22px;
  border-radius: 2px;
  background-color: #fff;
  border: solid 1px #cacaca;
  color: #333;
  padding: 8px 1em;
}
.mui-login input:focus {
  border-color: #65b8ff;
  box-shadow: inset 0 0 2px rgba(101, 185, 255, 0.9);
}
.mui-login .mui-img-code {
  position: absolute;
  width: 7rem;
  height: 100%;
  padding: 8px 4px;
  top: 0;
  right: 0;
  display: inline-block;
}
.mui-login .mui-img-code > * {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #f5f5f5;
  user-select: none;
  -webkit-user-select: none;
}
.mui-login .mui-img-code:active > * {
  box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 1000px rgba(0, 0, 0, 0.1);
  transform: scale(0.95, 0.9);
  -webkit-transform: scale(0.95, 0.9);
}
.mui-login button {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 100px;
  color: #fff;
  background-color: #65b8ff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  user-select: none;
  -webkit-user-select: none;
  border: none;
  padding: 0;
}
.mui-login button:active {
  transform: scale(0.99, 0.96);
  -webkit-transform: scale(0.99, 0.96);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.3);
}
.mui-login a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  line-height: 40px;
  text-align: center;
}
.mui-login .register {
  color: #65b8ff;
}
.mui-login .mui-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  cursor: pointer;
}
.mui-login .mui-close:active {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
}
.mui-login .mui-close:before,
.mui-login .mui-close:after {
  content: " ";
  display: block;
  position: absolute;
  right: 1px;
}
.mui-login .mui-close:before {
  border: 1px solid #cacaca;
  background: #fff;
  border-radius: 50%;
  width: 50%;
  height: 50%;
  margin: 25%;
}
.mui-login .mui-close:after {
  width: 30%;
  height: 30%;
  margin: 35%;
  border-radius: 50%;
  background: linear-gradient(45deg, transparent 43%, #8fcbff 43%, #8fcbff 57%, transparent 57%), linear-gradient(-45deg, transparent 43%, #8fcbff 43%, #8fcbff 57%, transparent 57%);
}
