@function toRem($px){
    @return $px/32*1rem;
}


.divRegister{
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;

    .divDetail,.divDetail2{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: toRem(60);

        .divTitle{
            width: 100%;
            height: toRem(120);
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #ddd;
            box-sizing: border-box;

            span{
                font-size: toRem(32);
            }
        }
    }
}

.divRegister .divDetail2{
    :global{
    }
}

.divConditionView{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: toRem(60);
    background-color: #ffffff;

    .divTitle{
        width: 100%;
        height: toRem(120);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;

        span{
            font-size: toRem(32);
        }
    }
}

.divRegister :global{
   .am-input-label, .am-list-content, .am-list-extra, .am-textarea-label, .am-textarea-control textarea, .am-input-control,.am-input-control input{
       font-size: toRem(28) !important;
   }

   .am-checkbox{
       margin-right: toRem(20);
   }

   .am-checkbox-wrapper{
       margin-left: 85px;
       color: #187FC4;
   }
}

.divUpdateImage {

    .divLabel{
   padding-bottom: toRem(10);
    }

    .divImage3{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: toRem(10);
        padding-bottom: toRem(10);

        img{
            width: toRem(200);
            max-width: 80%;
            height: toRem(200);
            border-radius: toRem(16);
        }
    }
   
}

.divPickerDate{
    :global{
         .am-list-content{
         flex: 2 !important;
         }
        }
}

.divButtonView{
    width: 100%;
    height: toRem(140);
    padding:toRem(30);
    box-sizing: border-box;
  
    .divRow4{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .button{
      flex: 1;
      margin-left: toRem(20);
      margin-right: toRem(20);
      overflow: unset !important;
    }
}

.divUserInfo{
    width: 100%;
    background-color: #ffffff;

    .divTopUserInfo{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #ffffff;
        height: toRem(188);
        border-bottom: 1px solid #ddd;
        box-sizing: border-box;

        .divLeft{
            padding: toRem(24);
            
            img{
                width: toRem(140);
                height: toRem(140);
                border-radius: toRem(16);
            }
        }

        .divRight{
            padding: toRem(24);
            width: 100%;
            box-sizing: border-box;

            .divTop{
                height: toRem(76);
                display: flex;
                align-items: center;

                span{
                    font-size: toRem(32);
                    font-weight: 700;
                }

                img{
                    width: toRem(48);
                    height: toRem(48);
                }

                label{
                    font-size: toRem(28);
                    color: #108ee9;
                }
                .labelAge{
                    margin-left: toRem(16);
                }
            }

            .divBottom{
                height: toRem(64);
                width: 100%;
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                padding-right: toRem(4);
                box-sizing: border-box;
                
                span{
                    font-size: toRem(28);
                }
            }
        }
    }

    a, a:hover,  a:visited{
        color: #222222;
    }
}

.divListMenu,.divExitListMenu,.divConditionListMenu{
    margin-top: toRem(16);

    :global{
       .am-input-label, .am-list-content, .am-list-extra, .am-textarea-label, .am-textarea-control textarea, .am-input-control,.am-input-control input{
           font-size: toRem(30) !important;
       }
    }
}

.divExitListMenu{
    :global{
        .am-list-content{
            text-align: center !important;
        }
    }
}

.divConditionListMenu{
    :global{
        .am-list-extra{
            color: #108ee9 !important;
        }
    }
}

.divUserPhoto{
    width: 100%;
    height: 100%;
    padding-top: toRem(90);
    box-sizing: border-box;

    .divNavBar{
        height:toRem(90) !important;
        margin-top:toRem(-90);
    }
    :global{
        .am-navbar-title{
           font-size: toRem(32) !important;
        }

        .am-button-small{
            font-size: toRem(28) !important;
        }
    }

    .divData{
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #ffffff;

        .divItem{
            width: 50%;
            height: toRem(320);
            float: left;
            padding: toRem(16);
            box-sizing: border-box;
            border-bottom: 1px solid #ddd;
            position: relative;
          
            .divImage{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;    
            }

            img{
                height: 100%;
                max-width: 100%;
            }

            a{
                z-index: 10000;
            }

            .iconDelete{
                position: absolute;
                top: toRem(8);
                right: toRem(8);
                z-index: 1001;
            }
        }
    }
}

.whiteSpace16{
    width: 100%;
    height: toRem(16);
    background-color: #f5f5f9;
}

.divConditionForm{
    width: 100%;
}
.divConditionType{
    :global{
        .am-input-label, .am-list-content, .am-list-extra, .am-textarea-label, .am-textarea-control textarea, .am-input-control,.am-input-control input{
            font-size: toRem(30) !important;
        }
    
        .am-list-content{
            white-space:normal !important;
            text-overflow:unset !important;
            overflow:auto !important;
            padding-top: toRem(10) !important;
            padding-bottom: toRem(10) !important;
        }
    
        .am-button{
            line-height: toRem(80) !important;
            height: toRem(80) !important;
            font-size: toRem(32) !important;
        }
    
        .am-button-primary:before{
            border: 0 !important;
        }
    
        .am-list-header{
            color: #000000 !important;
            font-size: toRem(30) !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    
        .am-list-item{
            padding-left:  toRem(30) !important;
            min-height: toRem(88) !important;
        }
    
        .am-list-item.am-input-item  {
            height:toRem(88) !important;
            padding-left:  toRem(30) !important;
            min-height: toRem(88) !important;
        }
    
        .am-list-line{
            padding-right:  toRem(30) !important;
        }
    
        .am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner {
            left: toRem(30) !important;
            top: toRem(24) !important;
        }
        .am-checkbox-inner {
            width: toRem(42) !important;
            height: toRem(42) !important;
        }
    
        .am-checkbox-inner:after {
            top: toRem(3) !important;
            right: toRem(12) !important;
            width: toRem(10) !important;
            height: toRem(22) !important;
        }
    
        .am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio-inner {
            right: toRem(30) !important;
            top: toRem(30) !important;
        }
        .am-radio-inner {
            width: toRem(30) !important;
            height:toRem(30) !important;
        }
    
        .am-list .am-list-item.am-checkbox-item .am-list-thumb {
            width: toRem(42) !important;
            height: toRem(42) !important;
        }
        .am-list-item .am-list-thumb:first-child {
            margin-right:toRem(30) !important;
        }
    
        .am-list-item .am-list-line .am-list-arrow {
            width: toRem(30) !important;
            height:toRem(30) !important;
            margin-left: toRem(16) !important;
        }
    
        .am-checkbox-item, .am-checkbox {
            height: toRem(80) !important;
        }
    }
    
    .divPicker{
        :global{
            .am-list-extra{
                white-space:normal !important;
                text-overflow:unset !important;
                overflow:auto !important;
                flex-basis: 98% !important;
            }
        }
    }
    
    .divContent{
        width: 100%;
        padding: toRem(30);
        font-size: toRem(28);
        box-sizing: border-box;
        background-color: #ffffff;

        p,li{
            font-size: toRem(28) !important;
            line-height: toRem(56);
        }    
    
        img{
            max-width: 100% !important;
            height: auto !important;
        }

        a {
            color: #337ab7;
            text-decoration: none
        }
        
        a:focus,a:hover {
            color: #23527c;
            text-decoration: underline
        }
        
        a:focus {
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px
        }
    }
    
    .divGroupHeader{
        width: 100%;
        height: toRem(80);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background-color: #f5f5f9;
        padding-left: toRem(30) !important;
        box-sizing: border-box;
    
        span{
            line-height: toRem(60);
        }
    
        :global{
            .am-button-small{
                padding: 0 !important;
    
                span{
                    line-height: toRem(50) !important;
                }    
            }
        }
    
        .button{
            width: toRem(160);
            margin-left: toRem(20);
            margin-bottom: toRem(6);
            line-height: toRem(50) !important;
            height: toRem(50) !important;
            font-size: toRem(30) !important;
        }
    }
    
    .divOptionValue{
        
        span{
            display: block;
            padding: toRem(10);
            font-size: toRem(28);
            line-height: toRem(40);
            background-color: #fafafa;
            color: #187FC4;
            border: 1px solid #d9d9d9;
            float: left;
            border-radius: toRem(4);
            margin-right: toRem(16);
            margin-bottom: toRem(10);
        }
    }
    
    .divLabelItem{
        background-color: #f5f5f9;
        min-height: toRem(80) !important;
        padding: 0 !important;
        margin: 0 !important;
       
        :global{
        .am-list-line{
            padding: 0 !important;
            padding-left: toRem(30) !important;
            align-items: flex-end !important;
        }
        .am-list-content{
            padding: 0 !important;
            line-height:toRem(60) !important
        }
        }
    }
    
    .divLabel{
        width: 100%;
        height: toRem(80);
        background-color: #f5f5f9;
        padding-left: toRem(30) !important;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
    
        span{
            line-height: toRem(60);
        }
    
    
    }
    
    .divButton{
        padding: 0 !important;
        margin: 0 !important;
        min-height: toRem(120) !important;
        margin-top: toRem(16) !important;
    
        :global{
        .am-list-line{
            padding-left:  toRem(50) !important;
            padding-right:  toRem(50) !important;
            border-bottom: 0 !important;
        }
    }
    }
    
    textarea{
        min-height: toRem(80) !important;
        line-height:toRem(40) !important;
    }
    
    .my-radio{
        :global{
            .am-list-item{
                min-height: toRem(80) !important;
            }
    }
    }
    
    .divResult{
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: toRem(30);
        box-sizing: border-box;
    
        .divResultContent{
            line-height: toRem(60);
            font-size: toRem(32);
        }
    }
    }


    .divIntervalTextBox{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .divSpan{
            width: toRem(60);
            display: flex;
            align-items: center;
            justify-content: center;

            span{
                font-size: toRem(28);
            }
        }

        :global{
        .am-list-item{
            width: toRem(300) !important;
        }
    }
    }

    .divDataGridView{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    
        .divData{
            height: 100%;
            background-color: #ffffff;
        }
    
        .divItem{
            margin-left: toRem(30);
            margin-right: toRem(30);
        }
    
        :global{
            .am-list-body:before, .am-list-body:after{
                height: 0 !important;
            }
    
            .am-list-header{
                padding: 0 !important;
            }
        }
    }

.divDataGridView .divItem{
        height: toRem(160);
        display: flex;
        flex-direction: row;
        align-items: center;
    
       .divLeft{
           margin-right: toRem(30);
           width: toRem(188);
           height: toRem(127);
    
            img{
                width: toRem(188);
                height: toRem(127);
                border-radius: toRem(8);
            }
        }
        
        .divRight{
            display: flex;
            flex-direction: column;
            height: toRem(127);
            justify-content: space-between;
            padding-top: toRem(4);
            padding-bottom: toRem(4);
            box-sizing: border-box;
    
            img{
                width: toRem(20);
                height: toRem(24);
                margin-right: toRem(10);
            }
    
            .spanTitle{
                color: #222222;
                font-size: toRem(26);
                line-height: toRem(40);
                width: toRem(470);
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* autoprefixer: ignore next */
                -webkit-box-orient: vertical;
            }
    
            .spanDate{
               color: #808080;
               font-size: toRem(22);
            }
    
            .spanAbstract{
                color: #222222;
                font-size: toRem(26);
                line-height: toRem(30);
                width: toRem(470);
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                /* autoprefixer: ignore next */
                -webkit-box-orient: vertical;
            }
        }
    }
.divActivityIndicator{
    width: 100%;
    height: toRem(60);
    display: flex;
    align-items: center;
    justify-content: center;
}

.divPageInfo{
    margin-left: toRem(30);
    margin-right: toRem(30);
    position: relative;
    height: toRem(80);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7B7B7B;
    box-sizing: border-box;
    overflow: hidden;

    span{
        font-size: toRem(24);
        color: #999999;
    }
}


.divMarriageArrangeItem{
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;

    a{
        width: 100%;
    }
 
        .divLeft{
        display: flex;
        flex-direction:column;
        }

        .divRight{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: toRem(32);
        }

        .divTop{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: row;
        }
        .divBottom{
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
        .divUser{
            display: flex;
            width: 50%;
            height: toRem(120);
            align-items: center;
            flex-direction: row;

                span{
                    font-size: toRem(32);
                    font-weight: 700;
                    margin-left: toRem(32);
                }

                img{
                    width: toRem(100);
                    height: toRem(100);
                    border-radius: toRem(8);
                    margin-left: toRem(32);
                }

                label{
                    font-size: toRem(28);
                    margin-left: toRem(16);
                    color: #108ee9;
                }
            
        }

        .divDateLocation{
            display: flex;
            flex-direction: row;
            align-items: center;

            img{
                width: toRem(32);
                height: toRem(32);
                margin-left: toRem(32);
            }

            span{
                font-size: toRem(28);
                margin-left: toRem(16);
                color: #999999;
                line-height: toRem(56);
            }
        }
   

    a, a:hover,  a:visited{
        color: #222222;
    }
}