.mui-calculator-tip-tooltip {
  position: absolute;
  padding: 11px;
  /*arrow sapce*/
  z-index: 9999;
}
.mui-calculator-tip-tooltip .mui-calculator-tip-block {
  float: left;
  background: white;
  border: 1px solid #cccccc;
  /*width: 300px;*/
  font: normal 13px/15px "microsoft yahei";
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.mui-calculator-tip-tooltip .mui-calculator-tip-arrow {
  position: absolute;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.mui-calculator-tip-tooltip .mui-calculator-tip-arrow-top {
  border-left: 10px solid transparent;
  /* 左边框的宽 */
  border-right: 10px solid transparent;
  /* 右边框的宽 */
  border-bottom: 12px solid #cccccc;
  *border-left-color: #dddddd;
  *border-right-color: #dddddd;
}
.mui-calculator-tip-tooltip .mui-calculator-tip-arrow-top .mui-calculator-tip-arrowIn {
  position: absolute;
  top: 1px;
  left: -9px;
  border-left: 9px solid transparent;
  /* 左边框的宽 */
  border-right: 9px solid transparent;
  /* 右边框的宽 */
  border-bottom: 11px solid white;
  *border-left-color: #dddddd;
  *border-right-color: #dddddd;
}
.mui-calculator-tip-tooltip .mui-calculator-tip-arrow-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 12px solid #cccccc;
  *border-left-color: #dddddd;
  *border-right-color: #dddddd;
}
.mui-calculator-tip-tooltip .mui-calculator-tip-arrow-down .mui-calculator-tip-arrowIn {
  position: absolute;
  top: -12px;
  left: -9px;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 11px solid white;
  *border-left-color: #dddddd;
  *border-right-color: #dddddd;
}
.mui-calculator-tip-tooltip .mui-calculator-tip-arrow-left {
  border: none;
  border-bottom: 10px solid transparent;
  /* left arrow slant */
  border-top: 10px solid transparent;
  /* right arrow slant */
  border-right: 12px solid #cccccc;
  /* bottom, add background color here */
  *border-top-color: #cccccc;
  *border-bottom-color: #cccccc;
}
.mui-calculator-tip-tooltip .mui-calculator-tip-arrow-left .mui-calculator-tip-arrowIn {
  position: absolute;
  top: -9px;
  left: 2px;
  border-bottom: 9px solid transparent;
  /* left arrow slant */
  border-top: 9px solid transparent;
  /* right arrow slant */
  border-right: 11px solid white;
  /* bottom, add background color here */
  *border-top-color: #dddddd;
  *border-bottom-color: #dddddd;
}
.mui-calculator-tip-tooltip .mui-calculator-tip-arrow-right {
  border-bottom: 10px solid transparent;
  /* left arrow slant */
  border-top: 10px solid transparent;
  /* right arrow slant */
  border-left: 12px solid #cccccc;
  /* bottom, add background color here */
  *border-top-color: #dddddd;
  *border-bottom-color: #dddddd;
}
.mui-calculator-tip-tooltip .mui-calculator-tip-arrow-right .mui-calculator-tip-arrowIn {
  position: absolute;
  right: 2px;
  top: -9px;
  border-bottom: 9px solid transparent;
  /* left arrow slant */
  border-top: 9px solid transparent;
  /* right arrow slant */
  border-left: 11px solid white;
  /* bottom, add background color here */
  *border-top-color: #dddddd;
  *border-bottom-color: #dddddd;
}
