@import "../index.scss";

.Container{
    width: 100%;
    height: 100%;
    background-image: url("../../assets/bg@2x.png");
    background-repeat: no-repeat;
    background-size: 100% ToRem750(1020);
}

.Container2{
    width: 100%;
    height: auto;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Container3{
    width: ToRem(530);
    display: flex;
    flex-direction: column;
}

.WhiteSpace1{
   width: 100%;
   height: ToRem(50);
}

.LogoImage{
    width: 100%;
    height:ToRem(82);
}

.LogoImage img{
    width: ToRem(304);
    height: ToRem(82);
}

.WhiteSpace2{
    width: 100%;
    height: ToRem(38);
 }

 .WhiteSpace3{
    width: 100%;
    height: ToRem(30);
 }

 .LabelName{
    width: 100%;
    display: flex;
    height: ToRem(38);
    align-items: center;
 }

 .LabelName span{
     font-size: ToRem(28);
     color: #4A4A4A;
 }

 .DivTextBox{
    width: 100%;
    height: ToRem(80);
    display: flex;
    align-items: center;
    border-bottom: 1px solid #4A4A4A;
 }

 .DivTextBox .TextBox{
     padding: 0;
     margin: 0;
     height: ToRem(60);
     width: 100%;
     background-color: transparent;
 }

 .DivTextBox .TextBox input{
    font-size: ToRem(36);
 }

 .DivTextBox2{
    width: 100%;
    height: ToRem(80);
    border-bottom: 1px solid #4A4A4A;
    display: flex;
    flex-direction: row;
    align-items: center;
 }

 .DivTextBox2 .TextBox{
     padding: 0;
     margin: 0;
     height: ToRem(60);
     width: ToRem(350);
     display: flex;
     background-color: transparent;
 }

 .DivTextBox2 .TextBox2{
    padding: 0;
    margin: 0;
    height: ToRem(60);
    width: ToRem(470);
    display: flex;
    background-color: transparent;
}

.DivTextBox2 .TextBox input, .DivTextBox2 .TextBox2 input{
    font-size: ToRem(36);
 }

 .DivTextBox2 .VerifyButton{
     width: ToRem(180);
     height: ToRem(60);
     border-radius: ToRem(8);
     border: 1px solid #4A4A4A;
     display: flex;
     cursor: pointer;
     justify-content: center;
     align-items: center;
 }

 .DivTextBox2 .VerifyButton span{
     color: #4A4A4A;
     font-size: ToRem(30);
 }

 .VerifyButtonDisabled{
    border: 1px solid#ccc !important;
 } 

 .VerifyButtonDisabled span{
    color: #ccc !important;
    font-size: ToRem(24) !important;
 } 

 .DivVoice{
    width: 100%;
    height: ToRem(68);
    display: flex;
    justify-content:flex-end;
    align-items: center;
 }

 .DivVoice a{
    color: #4A4A4A;
    font-size: ToRem(28);
    margin-right: ToRem(20);
    cursor: pointer;
 }

 .DivTextBox2 .EyeButton{
     width: ToRem(60);
     height: ToRem(60);
     display: flex;
     cursor: pointer;
     justify-content: center;
     align-items: center;
 }

 .DivTextBox2 .EyeButton .img1{
    width: ToRem(40);
    height: ToRem(18);
 }

 .DivTextBox2 .EyeButton .img2{
    width: ToRem(44);
    height: ToRem(36);
}

.WhiteSpace4{
    width: 100%;
    height: ToRem(20);
}

.Agreement{
    width: 100%;
    height: ToRem(40);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Agreement .CheckBox{
    height: ToRem(40);
    margin-left: 0;
    padding-top: ToRem(9);
    padding-bottom: 0;
}

.Agreement .CheckBox label{
    font-size: ToRem(24);
    color: #BFBFBF;
    cursor: pointer;
}

.Agreement .CheckBox label span span{
   top:ToRem(8);
}

.Agreement a{
    color: #2FA7E0;
    padding-top: ToRem(9);
    font-size: ToRem(24);
}

.Agreement .a1{
    margin-left: ToRem(50);
}

.WhiteSpace5{
    width: 100%;
    height: ToRem(50);
}

.RegButton{
    width:  ToRem(586);
    height: ToRem(154);
    display: flex;
    justify-content: center;
}

.RegNor{
    background-image: url("../../assets/btn_nor@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.RegPre{
    background-image: url("../../assets/btn_pre@2x.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.RegButton .Button{
    width:  ToRem(510);
    height: ToRem(80);
    margin-top: ToRem(10);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.RegButton .Button span{
    color: #00498A;
    font-size: ToRem(40);
}

.phoneCode{
    width: 100%;
    height: ToRem(80);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phoneCode img{
    width:  ToRem(176);
    height:  ToRem(60);
}

.phoneCode .VerifyCode{
    height: ToRem(60);
    width:  ToRem(300);
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #4A4A4A;
}

.phoneCode .VerifyCode input{
    padding-left: ToRem(10)
}

.UserTypeSegmented{
    margin-top: ToRem(30);
    height: ToRem(60);
}

.UserTypeSegmented div{
    font-size: ToRem(28) !important;
}