*/bin/
*/obj/
/packages/
*.zip
*.rar
*.dll
*/Logs/
*.suo
*.Debug.config
*.Release.config
*.ocx
/dll/
*.user
*.suo
*/PublishProfiles/
*/resouces/
/.vs/
*/wwwroot/Logs/
*/wwwroot/zip/
*/wwwroot/resources/
*/upload/

*/wwwroot/