<!Doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="css/i/favicon.ico"/>
    <link rel="Bookmark" href="css/i/favicon.ico"/>
    <title><%-title%></title>
    <meta name="keywords" content="<%-keywords%>" />
    <meta name="description" content="<%-description%>" />
    <script type="text/javascript">window.InitialState=<%-initialState%>;</script>
</head>

<body>
<div id="root" style="width:100%;height:100%;margin:0;padding:0;">
    <%-root%>
</div>

<!--[if lt IE 9]>
<iframe id="ifr_cover" frameborder="0" class="hide" scrolling="no"></iframe>
<div id="alertBoxWrap" class="hide"></div>
<![endif]-->


<script language="javascript">
    function printdiv(printpage)
    {
        var headstr = "<html><head><title></title></head><body>";
        var footstr = "</body>";
        var newstr = document.all.item(printpage).innerHTML;
        var iframe = document.createElement('iframe');
        iframe.style.display='none';
        document.body.appendChild(iframe);
        iframe.contentDocument.body.innerHTML =newstr;
        iframe.contentWindow.print();
        document.body.removeChild(iframe);
        return false;
    }
</script>

</body>

</html>