.RowHeader{
   background: #fafafa;
   text-align: left;
   color: rgba(0, 0, 0, 0.85);
   font-weight: 500;
   border-bottom: 1px solid #e8e8e8;
   padding: 16px 16px;
   word-break: break-all;
   font-size: 14px;
}



.DivTotal{
margin: 0;
padding: 0;
}

.DivTotal span{
    color: #1890ff;
}

.DivRemark{
   display: flex;
   flex-direction: column;
   line-height: 32px;
}
