<!Doctype html>
<html lang="zh-cn">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="/css/i/favicon.ico'}">
    <link rel="Bookmark" th:href="/css/i/favicon.ico'}">
    <title><%-title%></title>
    <meta name="keywords" content="<%-keywords%>" />
    <meta name="description" content="<%-description%>" />
</head>

<body>
    <div id="J_wrapBody">
        <%-root%>
    </div>
    <!--[if lt IE 9]>
<iframe id="ifr_cover" frameborder="0" class="hide" scrolling="no"></iframe>
<div id="alertBoxWrap" class="hide"></div>
<![endif]-->
</body>

<script type="text/javascript">window.InitialState=<%-initialState%>;</script>

</html>