@function toRem($px){
    @return $px/32*1rem;
}

.divFile{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1;
    background-color: #ffffff;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;

    .divTitle{
        width: 100%;
        height: toRem(100);
        display: flex;
        align-items: center;

        span{
            color: #187FC4;
            font-size: toRem(32);
            margin-left: toRem(30);
        }
    }

    .divFrame{
        display: flex;
        flex: 1;
    }
}