@function toRem($px){
    @return $px/32*1rem;
}

.divImage{
    touch-action: none;
    width: toRem(750);
    height: toRem(300);
    
    a{
        display: inline-block;
        width: toRem(750);
        height: toRem(300);
    .divImage2{
        width: toRem(750);
        height: toRem(300);
    }
  }

  :global {
    .slider-list{
        width: toRem(750) !important;
        height: toRem(300) !important;
    }
}
}

.divImageLinkMenus{
    width: 100%;
    height: toRem(240);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    a{
        display: flex;
    flex-direction: column;
    align-items: center;
    color: #187FC4;
    font-size: toRem(26);
    width: toRem(150);

       img{
           width: toRem(92);
           height: toRem(92);
       }

       span{
           line-height: toRem(80);
       }
    }
}

.divDataGridView, .divDataGridView2,.divDataGridView3,.divPartnerDataGridView,.divJobDataGridView{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .divData{
        height: 100%;
        background-color: #ffffff;
    }

    .divItem{
        margin-left: toRem(30);
        margin-right: toRem(30);
        margin-top: toRem(10);
    }

    :global{
        .am-list-body:before, .am-list-body:after{
            height: 0 !important;
        }

        .am-list-header{
            padding: 0 !important;
        }
    }
}

.divTopActivities,.divTopProductCenter,.divTopPartners,.divTechnicals{
    width: 100%;

    .divData{
        margin-left: toRem(30);
        margin-right: toRem(30);
        margin-top: toRem(16);

    }
}

.divDataGridView3 .divItem2{
    margin-left: toRem(30);
    margin-right: toRem(30);
}

.divTopProductCenter, .divDataGridView3 {
    .divData a:last-child .divItem2 {
        border-bottom: none;
    }

    
 .divItem2{
    display: flex;
    flex-direction: column;
    padding-bottom: toRem(30);
    border-bottom: 1px dotted #959595;
    margin-top: toRem(8);

    .spanTitle2{
        color: #187FC4;
        font-size: toRem(28);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        display:block;
        line-height: toRem(80);
        width: toRem(690);
    }

    .spanDate2{
       color: #808080;
       font-size: toRem(22);
       margin-bottom: toRem(10);

       img{
        width: toRem(20);
        height: toRem(24);
        margin-right: toRem(10);
       }
    }
}

}

.divTopActivities .divItem, .divDataGridView .divItem{
    height: toRem(160);
    display: flex;
    flex-direction: row;
    align-items: center;

   .divLeft{
       margin-right: toRem(30);
       width: toRem(188);
       height: toRem(127);

        img{
            width: toRem(188);
            height: toRem(127);
            border-radius: toRem(8);
        }
    }
    
    .divRight{
        display: flex;
        flex-direction: column;
        height: toRem(127);
        justify-content: space-between;
        padding-top: toRem(4);
        padding-bottom: toRem(4);
        box-sizing: border-box;

        img{
            width: toRem(20);
            height: toRem(24);
            margin-right: toRem(10);
        }

        .spanTitle{
            color: #222222;
            font-size: toRem(26);
            line-height: toRem(40);
            width: toRem(470);
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* autoprefixer: ignore next */
            -webkit-box-orient: vertical;
        }

        .spanDate{
           color: #808080;
           font-size: toRem(22);
        }

        .spanAbstract{
            color: #222222;
            font-size: toRem(26);
            line-height: toRem(30);
            width: toRem(470);
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* autoprefixer: ignore next */
            -webkit-box-orient: vertical;
        }
    }
}

.divTopActivities .divTitle,.divClassRoom .divTitle,.divEdgeApp .divTitle,.divTopProductCenter .divTitle,
.divTopPartners .divTitle,.divJobs .divTitle,.divTechnicals .divTitle{
    height: toRem(60);
    margin-left: toRem(30);
    margin-right: toRem(30);
    border-bottom: 1px solid #7B7B7B; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .divLeft{
        img{
            width: toRem(30);
            height: toRem(30);
        }
        span{
            line-height: toRem(60);
            font-weight: 700;
            font-size: toRem(36);
            color: #187FC4;
            margin-left: toRem(10);
        }
    }

    .divRight{
        margin-top: toRem(16);
        img{
            width: toRem(20);
            height: toRem(17);
        }
        span{
            font-size: toRem(21);
            color: #187FC4;
            margin-right: toRem(14);
        }
    }
}
.divVideoGridView, .divGiftGridView{
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .divData{
        height: 100%;
        background-color: #ffffff;

        a{
            float: left;
        }
    }

    :global{
        .am-list-header{
            padding: 0 !important;
        }
    }
}

.divGiftGridView .divItem{
    height: toRem(370);
    margin-left: toRem(30);
    margin-right: toRem(20);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .divImage{
        width: toRem(320);
        height: toRem(216);
        border-radius: toRem(8);
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: toRem(320);
            height: toRem(216);
        }
    }

    .divText{
        color: #222222;
        font-size: toRem(26);
        margin-top: toRem(10);
        height: toRem(80);
        line-height: toRem(40);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span{
            width: toRem(320);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            display:block;
            text-align: center;
        }
    }
}

.divClassRoom{
    width: 100%;

    .divData{
       width: 100%;
       display: flex;
       flex-direction: row;
       align-items: center;
    }
}

.divClassRoom .divItem, .divVideoGridView .divItem{
    height: toRem(370);
    margin-left: toRem(30);
    margin-right: toRem(20);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .divImage{
        width: toRem(320);
        height: toRem(216);
        border-radius: toRem(8);
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: toRem(72);
            height: toRem(72);
        }
    }

    .divText{
        color: #222222;
        font-size: toRem(26);
        margin-top: toRem(10);
        height: toRem(80);
        line-height: toRem(40);
        width: toRem(320);
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
    }
}

.divEdgeApp, .divJobs{
    width: 100%;

    .divData{
        margin-left: toRem(30);
        margin-right: toRem(30);
        margin-bottom: toRem(30);
    }

    .divData a:last-child .divItem {
        border-bottom: none;
    }
}


.divDataGridView2{
    .divData a:last-child .divItem {
        border-bottom: none;
    }
}

.divEdgeApp .divItem, .divDataGridView2 .divItem{
        display: flex;
        flex-direction: column;
        padding-bottom: toRem(30);
        border-bottom: 1px dotted #959595;
        margin-top: toRem(8);

        .spanTitle{
            color: #187FC4;
            font-size: toRem(28);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            display:block;
            line-height: toRem(80);
            width: toRem(690);
        }

        .spanDate{
           color: #808080;
           font-size: toRem(22);
           margin-bottom: toRem(10);

           img{
            width: toRem(20);
            height: toRem(24);
            margin-right: toRem(10);
           }
        }

        .divTypeDate{
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
        }

        .spanType{
            color: #808080;
           font-size: toRem(22);
           margin-bottom: toRem(10);
           margin-right: toRem(20);

           img{
            width: toRem(24);
            height: toRem(21);
            margin-right: toRem(10);
           }
        }

        .spanAbstract{
            color: #222222;
            font-size: toRem(26);
            line-height: toRem(40);
            width: toRem(690);
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* autoprefixer: ignore next */
            -webkit-box-orient: vertical;
        }
}


.divActivityIndicator{
    width: 100%;
    height: toRem(60);
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabDetail{
    position: absolute;
    width: 100%;

    ::global{
        .am-tabs{
            height: auto;
        }
    }
 
}

.divRow{
    width: 100%; 
}

.divDetail{
    position: relative;
    top: 43.5px;
    bottom: 0px;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .divDetail2{
        margin-top: toRem(30);
        margin-bottom: toRem(30);
        display: flex;
        flex-direction: column;
        width: toRem(690);
    }

    .divDetail3{
        margin-top: toRem(8);
        display: flex;
        flex-direction: column;
        width: toRem(690);
    }

    .divTitle{
        margin-bottom: toRem(20);

        span{
            line-height: toRem(48);
            font-size: toRem(34);
            color: #187FC4;
        }
    }

    .divVideoType{
        float: left;
        margin-right: toRem(20);
        
        img{
            width: toRem(24);
            height: toRem(21);
            margin-right: toRem(10);
        }

        span{
           color: #808080;
           font-size: toRem(22);
           line-height: toRem(60);
        }
    }

    .divDate{
        float: left;
    }

    .divDate2{
        float: left;
    }

    .divDate, .divDate2{
        img{
            width: toRem(20);
            height: toRem(24);
            margin-right: toRem(10);
        }

        span{
           color: #808080;
           font-size: toRem(22);
           line-height: toRem(60);
        }
    }


    .divAddress{
        img{
            width: toRem(17);
            height: toRem(22);
            margin-right: toRem(10);
        }

        span{
           color: #808080;
           font-size: toRem(22);
           line-height: toRem(60);
        }
    }

    .divContent{
        color: #222222;
        line-height: toRem(54);
        font-size: toRem(28);
    word-wrap:break-word;  
    word-break:break-all;
    margin-top: toRem(10);

    p,li{
        font-size: toRem(28) !important;
        line-height: toRem(56);
    }

    img{
        max-width: 100% !important;
        height: auto !important;
    }
    }

    .divCity{
        img{
            width: toRem(22);
            height: toRem(24);
            margin-right: toRem(10);
        }
    }

    .divMail{
        img{
            width: toRem(26);
            height: toRem(24);
            margin-right: toRem(10);
        }

    }

    .divPhone{
        img{
            width: toRem(20);
            height: toRem(24);
            margin-right: toRem(10);
        }
    }

    .divPhone,.divMail,.divCity{
        span{
            color: #808080;
            font-size: toRem(22);
            line-height: toRem(60);
         }
    }

    .divInfoText{
        color: #222222;
            font-size: toRem(32);
            line-height: toRem(60);
    }

    .divInfoTitle{
        font-size: toRem(32);
        line-height: toRem(60);
        margin-top: toRem(30);
        border-bottom: 1px dotted #959595;
    }
}

.divRecommendActivity{
    width: 100%;
    padding-left:toRem(30);
    padding-right: toRem(30);
    box-sizing: border-box;

    .divData{
        .divItem{

        .divText{
            margin-left: 0;
        }
    }
    }
}
.divRecommendRead,.divRecommendActivity{
    border-top: 1px dotted #959595;

    ul {
        padding: 0;
        margin: 0;
padding-left: toRem(30);

        li{
            padding: 0;
            margin: 0;
        list-style:disc;
    }
}

    .divTitle2{
        span{
            color: #222222;
            line-height: toRem(80);
            font-weight: 700;
            font-size: toRem(28);
        }
    }

    .divData{
        .divItem{
            margin-bottom: toRem(20);

        .divText{
            color: #222222;
            font-size: toRem(24);
            line-height: toRem(40);
        }

    }
    }
}

.divTopProductCenter .divItem, .divDataGridView3 .divItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px dotted #959595;
    box-sizing: border-box;
    padding-top: toRem(10);
    padding-bottom: toRem(10);

   .divLeft{
       margin-right: toRem(30);
       width: toRem(188);
       display: flex;
       align-items: center;

        img{
            width: toRem(188);
            height: toRem(141);
            border-radius: toRem(8);
        }
    }
    
    .divRight{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        img{
            width: toRem(20);
            height: toRem(24);
            margin-right: toRem(10);
        }

        .spanTitle{
            color: #187FC4;
            font-size: toRem(28);
            line-height: toRem(40);
            width: toRem(470);
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* autoprefixer: ignore next */
            -webkit-box-orient: vertical;
            margin-bottom: toRem(20);
        }

        .spanAbstract{
            color: #222222;
            font-size: toRem(26);
            line-height: toRem(40);
            width: toRem(470);
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* autoprefixer: ignore next */
            -webkit-box-orient: vertical;
        }
    }
}

.divTopProductCenter, .divDataGridView3{
.divData a:last-child .divItem {
    border-bottom: none;
}
}

.whiteSpace30{
    width: 100%;
    height: toRem(30);
}

.divDetailBottom{
    width: 100%;
    height: toRem(100); 
    display: flex;
    align-items: center;
    justify-content: center;

    .button{
        width: toRem(200);
    }
}

.videoFrame{
    width: 100%;
    height: toRem(500);
}

.divTopPartners .divItem, .divPartnerDataGridView .divItem{
    height: toRem(270);
    display: flex;
    flex-direction: row;
    align-items: center;

   .divLeft{
       margin-right: toRem(30);
        img{
            width: toRem(320);
            height: toRem(216);
            border-radius: toRem(8);
        }
    }
    
    .divRight{
        display: flex;
        flex-direction: column;
        height: toRem(220);
        justify-content: space-between;

        img{
            width: toRem(20);
            height: toRem(24);
            margin-right: toRem(10);
        }

        .spanTitle{
            color: #187FC4;
            font-size: toRem(28);
            width: toRem(340);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            display:block;
            width: toRem(340);
        }

        .spanAbstract{
            color: #222222;
            font-size: toRem(26);
            line-height: toRem(32);
            width: toRem(340);
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* autoprefixer: ignore next */
            -webkit-box-orient: vertical;
        }
    }
}

.divJobs .divItem, .divJobDataGridView .divItem{
    display: flex;
        flex-direction: column;
        padding-bottom: toRem(30);
        border-bottom: 1px dotted #959595;

      .divName{
          color: #187FC4;
          font-size: toRem(28);
          line-height: toRem(80);
      }

      .divText{
          color: #222222;
          font-size: toRem(26);
          line-height: toRem(40);
      }
}

.divTechnicals .divItem{
    display: flex;
        flex-direction: column;

      span{
        color: #222222;
          font-size: toRem(26);
          line-height: toRem(40);
      }
}

.divTechnicalInfo{
    display: flex;
    flex-direction: column;
    margin: toRem(30);
    align-items: center;

  span{
    color: #777;
      font-size: toRem(26);
      line-height: toRem(52);
  }

  .spanLight{
    color: #0071a1;
    font-weight: bold;
    font-size:  toRem(32);
    line-height: toRem(64);
  }
}

.my-radio{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222222;

    label{
        margin-left: toRem(30);
        margin-right: toRem(30);
        font-size: toRem(28) !important;
    }

    :global{
        .am-radio{
            padding: 2.5px;
            border: 1px solid #ccc;
            border-radius: 50%;
            margin-right: 5px;
            position: relative;
            top: -2px;
          }
    }
 }

 .divLogin{
     width: 100%;

     :global{
         .am-list-body:before{
             height: 0 !important;
         }
         .am-list-body:after{
            height: 0 !important;
        }

        .am-input-label, .am-list-content, .am-list-extra, .am-textarea-label, .am-textarea-control textarea, .am-input-control,.am-input-control input{
            font-size: toRem(28) !important;
        }

        .am-checkbox{
            margin-right: toRem(20);
        }

        .am-checkbox-wrapper{
            margin-left: 85px;
            color: #187FC4;
        }

        .am-list-extra{
            flex: 4 !important;
        }
     }

     .divTipText{
        margin-left: 85px;
        :global{
        .am-list-content{
            white-space:normal !important;
        }
    }
     }

     .divTipText2{
        margin-left: 85px;
        :global{
            .am-list-content{
                white-space:normal !important;
                color: #187FC4 !important;
            }
        }
     }

     .divRow2{
        width: 100%;
     }


     .divRow3{
         width: 100%;
         height: toRem(120);
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: toRem(30);
         margin-bottom: toRem(30);

     .loginButton{
        width: toRem(400) !important;
        display: flex;
        justify-content: center;
        align-items: center;
     }
    }

     .divImageVerify{
         width: 100%;
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         align-items: center;
     
         :global{
         .am-input-item {
             width: toRem(480) !important;
         }
         }

         img{
             width: toRem(240);
             height: toRem(70);
             padding-right: toRem(20);
             box-sizing: border-box;
         }
     }

     .divSmsVerify{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        :global{
            .am-input-item {
                width: toRem(480) !important;
            }
        }

        .divVerifyButton{
           width: toRem(240);
           height: toRem(60);
           border-radius: toRem(8);
           border: 1px solid #4A4A4A;
           margin-right: toRem(20);
           display: flex;
           cursor: pointer;
           justify-content: center;
           align-items: center;
           box-sizing: border-box;

           span{
            color: #4A4A4A;
            font-size: toRem(28);
          }
        }

        .divVerifyButton:active{
            background-color: #ddd;
        }

        .verifyButtonDisabled{
           border: 1px solid#888 !important;

           span{
            color: #888 !important;
            font-size: toRem(26) !important;
            font-weight: 500;
         } 
        }
     }

     .divRemark{
         width: 100%;
         padding: toRem(30);
         box-sizing: border-box;

         span{
             color: #222222;
             font-size: toRem(28);
             line-height: toRem(56);
         }
     }

     .divRemark2{
        width: 100%;
        padding-top: toRem(30);
        padding-left: toRem(30);
        padding-right: toRem(30);
        box-sizing: border-box;

        span{
            color: #222222;
            font-size: toRem(28);
            line-height: toRem(56);
        }
    }
    
 }

 .divLink{
    width: 100%;
    height: toRem(60);
    display: flex;
    justify-content: center;
    align-items: center;

    a{
        font-size: toRem(28);
        line-height: toRem(40);
        text-decoration: underline;
        color: #0071A0;
    }
}

.divStar, .divStar2{
    float: left;
    margin-left: toRem(20);

    img{
        width: toRem(26);
        height: toRem(26);
        margin-top: toRem(10);
    }
}

.divRow4{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.divLinkDetail{
    width: 100%;
    display: flex;
    align-items: center;
    height: toRem(100);

    :global{
        .am-button{
            border: 1PX solid #ddd !important;
            width: toRem(160);
        }
    }
}

.divLeftButton{
    width: 100%;
    height: toRem(100);
    display: flex;
    align-items: center;
}

.divPageInfo{
    margin-left: toRem(30);
    margin-right: toRem(30);
    position: relative;
    height: toRem(80);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #7B7B7B;
    box-sizing: border-box;
    overflow: hidden;

    span{
        font-size: toRem(22);
        color: #999999;
    }
}

.divPanelView{
    width: 100%;
    height: 100%;
    padding-top: toRem(160);
    box-sizing: border-box;

    .divConditionView{
        margin-top: toRem(-160);
    }
}

.divPanelView2{
    width: 100%;
    height: 100%;
    padding-top: toRem(320);
    box-sizing: border-box;

    .divConditionView{
        margin-top: toRem(-320);
    }
}

.divPanelView3{
    width: 100%;
    height: 100%;
    padding-top: toRem(240);
    box-sizing: border-box;

    .divConditionView{
        margin-top: toRem(-240);
    }
}

.divPanelView4{
    width: 100%;
    height: 100%;
    padding-top: toRem(80);
    box-sizing: border-box;

    .divConditionView{
        margin-top: toRem(-80);
    }
}

.divConditionView {
    :global{
        .am-list-item{
            padding-left: toRem(30) !important;
            min-height:auto !important;
            height: toRem(80) !important;

            .am-list-line{
                padding-right: toRem(30) !important;
            }
        }
        .am-input-label, .am-list-content, .am-list-extra{
            font-size: toRem(28) !important;
            padding-top: toRem(14) !important;
            padding-bottom: toRem(14) !important;
        }

        .am-list-arrow{
            width: toRem(24) !important;
            height: toRem(24) !important;
            margin-left: toRem(12) !important;
        }
       }
}

.divUserTopInfo{
    width: 100%;
    height: toRem(180);
    background-color: #187FC4;
    display: flex;
    flex-direction: row;
    align-items: center;
     position: absolute;
     top: 0;
     left: 0;

    .divLeft{
        margin-left: toRem(32);
        width: toRem(112);
        height: toRem(112);
    img{
        width: toRem(112);
        height: toRem(112);
        border-radius:50%;
        background-color: #D7D7D7;
        border:1px solid #ffffff;
    }
}

  .divRight{
      padding-left: toRem(20);
      flex: 1;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;

      .divTop{
          height: toRem(80);
          line-height: toRem(80);
          color: #ffffff;
          font-size: toRem(32);
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          a{
              text-decoration: underline;
              color: #ffffff;
              font-size: toRem(28);
              padding-right: toRem(30);
          }
      }

      .divBottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        height: toRem(32);
    line-height: toRem(32);
    color: #B2B3B3;
    font-size: toRem(24);

    span{
        flex: 4;
    }

    a{
        color: #B2B3B3;
        font-size: toRem(24);
        flex: 3;
       text-decoration: underline; 
       text-align: center;   
    }
      }
  }


}

.divView3{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: toRem(87);
    margin: 0;
    box-sizing: border-box;
    flex-direction: column;

    .divTopTitle{
        width: 100%;
        height: toRem(87);
        margin-top: toRem(-87);
        position: relative;
        
        span{
            font-size: toRem(30);
            color: #187FC4;
            border-bottom: 1px solid #ddd;
            display: block;
            width: 100%;
            height: 100%;
            text-align: center;
            box-sizing: border-box;
            line-height: toRem(86);
        }

        .divBottomLine{
            position: absolute;
            width: 33.3333%;
            left: 33.3333%;
            bottom: 0;
            border: 1px solid #187FC4;
            box-sizing: border-box;
            z-index: 2;
        }
    }

    .divTopTitle2{
        width: 100%;
        height: toRem(100);
        margin-top: toRem(-100);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #187FC4;
        
        .spanCenter{
            font-size: toRem(36);
            color: #ffffff;
            flex: 8;
            text-align: center;
        }

        .spanLeft{
            flex: 1;
        }

        .spanRight{
            flex: 1;
        }
        
    }

    :global{
        .am-list-body{
          margin-top: 0 !important;
        }
    } 
}

.divPolicy{
    width: 100%;
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
    padding: toRem(30);
    box-sizing: border-box;
    color: #222222;
    line-height: toRem(60);
    font-size: toRem(32);
word-wrap:break-word;  
word-break:break-all;
}

.mineTabs{
    width: 100%;
    position: absolute;
    top: toRem(180);
    bottom: 0;


    :global{
        .am-tabs-default-bar-content{
            width: 100% !important;
            padding-left: toRem(20) !important;
            padding-right: toRem(20) !important;
            box-sizing: border-box !important;
            height: toRem(60)!important;
        }
        .am-tabs-default-bar-top{
            background-color: #187FC4 !important;
        }

        .am-tabs-default-bar-underline{
            border:0 !important;
        }

        .am-tabs-default-bar-tab{
            color: #ffffff !important;
            font-size:toRem(28) !important;
            height: toRem(60) !important;
            line-height: toRem(60) !important;
            padding: 0 !important;
            width: toRem(160) !important;
        }

        .am-tabs-default-bar-tab:after{
            height: 0 !important;
        }

        .am-tabs-default-bar-tab-active{
            color: #187FC4 !important;
            background-color: #ffffff !important;
            border-top-left-radius: toRem(10);
            border-top-right-radius: toRem(10);
        }
    }
    .divTabPanel{
        height: 100%;
    }
}

.divHeaderItem, .divGetHeaderItem,.divQuestionnaireHeaderItem{
   height: toRem(80);
   margin-left: toRem(30);
   margin-right: toRem(30);
   display: flex;
   flex-direction: row;
   align-items: center;
   border-bottom:  1px solid #187FC4;
}

.divDataRow, .divGetDataRow,.divQuestionnaireDataRow{
    width: toRem(690);
    margin-left: toRem(30);
    margin-right: toRem(30);
    padding-top: toRem(10);
    padding-bottom: toRem(10);
    display: flex;
    flex-direction: row;
    border-bottom: 1px dotted #959595;

    span{
        color: #222222;
        line-height: toRem(50);
        font-size: toRem(26);
    }
}

.divDataGridView2{
    .divDataRow:last-child  {
        border-bottom: none;
    }
    a:last-child .divGetDataRow {
        border-bottom: none;
    }

    a:last-child .divQuestionnaireDataRow{
        border-bottom: none;
    }
}


.divQuestionnaireHeaderItem, .divQuestionnaireDataRow{
    span:nth-child(1){
        flex: 8;
    }
    span:nth-child(2){
        flex: 3;
    }
    span:nth-child(3){
        flex: 3;
    }
}


.divHeaderItem, .divDataRow{
    span:nth-child(1){
        flex: 3;
    }
    span:nth-child(2){
        flex: 2;
    }
    span:nth-child(3){
        flex: 5;
    }
    span:nth-child(4){
        flex: 3;
    }
}

.divGetHeaderItem, .divGetDataRow{
    span:nth-child(1){
        flex: 2;
    }
    span:nth-child(2){
        flex: 5;
    }
    span:nth-child(3){
        flex: 2;
    }
}

.divLeftRightSpan,.divLeftRightSpan2{
    display: flex;
    flex-direction: row;
    margin-top: toRem(10);
    margin-left: toRem(20);
    margin-bottom: toRem(10);
    position: relative;

    span{
        font-size: toRem(28);
        line-height: toRem(60);
    }

    .spanLeft{
 text-align:right;
    }

    .spanRight{
      color: #999999;
        margin-left: toRem(30);
    }
}

.divLeftRightSpan3{
    display: flex;
    flex-direction: row;
    margin-top: toRem(10);
    margin-left: toRem(20);
    margin-bottom: toRem(10);
    position: relative;

    span{
        font-size: toRem(28);
        line-height: toRem(60);
    }

    .spanLeft{
 text-align:left;
    }

    .spanRight{
        color: #999999;
        margin-left: toRem(30);
    }
}

.divLeftRightSpan::after,.divLeftRightSpan2::after,.divLeftRightSpan3::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background:#ddd;
    transform: scaleY(0.5);
    transform-origin: 50% 100%;
}

.divLeftRightSpan{
    .spanLeft{
        flex: 2;
    }
    .spanRight{
        flex: 10;
    }
}

.divLeftRightSpan2,.divLeftRightSpan3{
    .spanLeft{
        flex: 3;
    }
    .spanRight{
        flex: 10;
    }
}

.divLabProduct{
    width: 100%;

    .divItem{
        width: 100%;
        margin-top: toRem(20);

        .divTitle{
            font-size: toRem(34);
            line-height: toRem(60);
            margin-top: toRem(20);
            margin-left: toRem(20);
            color: #187FC4;
            border-bottom: 1px solid #ddd;

            :global{
                .am-icon-sm{
                    width: toRem(32) !important;
                    height: toRem(32) !important;
                    margin-right: toRem(10) !important;
                }
            }
        }

        .divTitle2{
            font-size: toRem(30);
            line-height: toRem(60);
            margin-top: toRem(20);
            margin-left: toRem(20);
            color: #222222;
            font-weight: 700;
        }

        .divText{
            font-size: toRem(28);
            line-height: toRem(80);
            color: #222222;
            margin-left: toRem(20);
            position: relative;

            span{
                display: block;
                width: 100;
                height: 100;
            }
        
            :hover{
                color: #187FC4;
                background-color: #ddd;
            }
        }

        .divText::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background:#ddd;
            transform: scaleY(0.5);
            transform-origin: 50% 100%;
        }
        
    }
}


.divGiftInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: toRem(20);
    border-bottom: 1px dotted #959595;

    .divLeft{
        width: toRem(320);
        height: toRem(216);
    img{
        width: toRem(320);
        height: toRem(216);
        border-radius: toRem(8);
    }
}

  .divRight{
      padding-left: toRem(20);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;

      .divTop{
          display: flex;
          flex-direction: column;

          span{
              color: #187FC4;
             font-size: toRem(28);
             line-height: toRem(40);
            
          }   

          .spanPoints{
            line-height: toRem(60);

            label{
                color: #555;
            }
          }
      }

      .divBottom{
        display: flex;
        align-items: center;
        height: toRem(60);
  }
}

}

.divGiftCart{
    width: 100%;

    :global{

        .am-list-content{
            white-space:normal !important;
        }

        .am-checkbox{
            height: auto !important;
        }
    }
    .divItem{
        display: flex;
        flex-direction: row;

        .divLeft{
            width: toRem(240);
            height: toRem(180);
        img{
            width: toRem(240);
            height: toRem(180);
            border-radius: toRem(8);
        }
    }
    
      .divRight{
          padding-left: toRem(20);
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          box-sizing: border-box;
          width: 100%;
    
          span{
            color: #187FC4;
           font-size: toRem(28);
           line-height: toRem(40);
        } 
        
          .divTop{
            display: flex;
          }
    
          .divBottom{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .spanPoints{
                line-height: toRem(60);

                label{
                    color: #555;
                }
              }

            span:nth-child(2){
                text-align: right;
            }
      }
    }
    
    }
}

.divCartSpace{
    width: 100%;
    height: toRem(100);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(28);
    color: #187FC4;
}

.divCartView{
    width: 100%;

    :global{

     .am-list-line, .am-textarea-item{
       border-bottom: 1PX solid #ddd !important;
     }
    }
}

.divDialog{
    width: toRem(690);
    max-height: 80%;

    :global{
    .am-textarea-item{
      display: flex !important;
      flex-direction: column;

      .am-textarea-label{
          line-height: toRem(40) !important;
          min-height: toRem(40) !important;
          margin-left: toRem(8) !important;
      }

      .am-textarea-control{
          width: toRem(580) !important;
      }
      
      .am-textarea-label,.am-textarea-control{
        color: #717071 !important;
        font-size: toRem(28) !important;

        textarea{
            border: 1PX solid #ddd !important;
            font-size: toRem(28) !important;
            box-sizing: border-box;
            padding: toRem(8);
        }
      }
    }
}

    .divContent{
        color: #222222;
        line-height: toRem(60);
        font-size: toRem(28);
    word-wrap:break-word;  
    word-break:break-all;
    width: 100%;
    border: 1px dotted #959595;

    p,li{
        font-size: toRem(28) !important;
        line-height: toRem(56);
    }


    img{
        max-width: 100% !important;
        height: auto !important;
    }
    }

.divImageVerify{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

    :global{
        .am-list-item,.am-input-item {
        width: toRem(480) !important;
        height: toRem(70) !important;
        min-height: toRem(70) !important;
    }

    .am-input-label{
        width: toRem(100) !important;
    }

    .am-input-label, .am-input-control input{
        font-size: toRem(28) !important;
    }
    .am-input-control{
        display: flex;
        align-items: center;
        height: toRem(70) !important;
    }

    .am-list-line{
        border-bottom: 1PX solid #ddd !important;
        box-sizing: border-box;
    }
    }


   
    img{
        width: toRem(240);
        height: toRem(70);
        padding-right: toRem(20);
        box-sizing: border-box;
    }
}

}

.divWrapDialog{
    width: 100%;
}

.divReqiure{
    width: 100%;
    display: flex;
     flex-direction: row;
    align-items: flex-start;
    color: #717071;
    margin-top: toRem(20);

    label{
        font-size: toRem(28) !important;
        padding-bottom: toRem(30);
        text-align: left !important;
    }

    div{
        display: flex;
        flex-direction: column;
    }

    .divLeft{
        flex: 2;
        text-align: right;

        span{
            font-size: toRem(28) !important;
        }
    }

    .divRight{
        flex: 8;

        span:nth-child(2){
            display: block;
            width: toRem(448);
             float: left;
        }
    }

    :global{
        .am-radio{
            padding: 1.5px;
            border: 1px solid #ccc;
            border-radius: 50%;
            margin-right: 5px;
            position: relative;
            top: 1px;
            display: block;
            float: left;
          }
    }
}

.divMoveSelect{
    width: 100%;
    height: toRem(80);
    position: relative;
    overflow-x: auto;
    transform-origin: 0 0 0;
    transform: scale(1, 1);
    opacity: 1;
    -webkit-transform-origin: 0 0 0;
    -webkit-transform: scale(1, 1);
    -webkit-overflow-scrolling:touch;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
    float: left;
    transition-property: transform;
    transition-duration: 0ms;
    transform-origin: 0 0 0;
    -webkit-transition-property: transform;
    -webkit-transition-duration: 0ms;
    -webkit-transform-origin: 0 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: toRem(10);
    padding-right: toRem(10);

        li{
            position: relative;
            display: inline-block;
            height: toRem(60);
            padding-left: toRem(20);
            padding-right: toRem(20);

            span{
                font-size: toRem(28);
                color: #222222;
                line-height: toRem(60);
            }
        }
    }

    .selected{
        background-color: #f5f7fa;
       
        span{
            color: #187FC4;
        }
    }
}

.divMoveSelect::-webkit-scrollbar {
    display: none;
  }

.divLabUser{
    padding-left: toRem(30);
    width: 100%;
box-sizing: border-box;
display: flex;
flex-direction: column;

    .divHeader{
        display: flex;
        align-items: center;
height: toRem(80);

        span{
            font-size: toRem(28);

        }
    }

    .divLabel{
        display: flex;
        align-items: center;
height: toRem(60);
border-bottom: 1px solid #ddd;

        span{
            font-size: toRem(28);
    color: #222222;
        }
    }


    .divItem{
        display: flex;
        flex-direction: column;
        padding-bottom: toRem(20);
        border-bottom: 1px dotted #959595;

        .spanTitle{
            color: #222222;
            font-size: toRem(28);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            display:block;
            line-height: toRem(80);
            width: toRem(690);
        }

        .spanDate{
           color: #808080;
           font-size: toRem(22);
           margin-bottom: toRem(10);

           img{
            width: toRem(20);
            height: toRem(24);
            margin-right: toRem(10);
           }
        }

        .spanType{
            color: #808080;
            font-size: toRem(22);
            margin-bottom: toRem(10);
 
            img{
                width: toRem(24);
                height: toRem(21);
             margin-right: toRem(10);
            }
         }
        }

        a:last-child .divItem {
            border-bottom: none;
        }
}

  
.divButtonView{
    width: 100%;
    height: toRem(140);
    padding:toRem(30);
    box-sizing: border-box;
  
    .divRow4{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .button{
      flex: 1;
      margin-left: toRem(20);
      margin-right: toRem(20);
      overflow: unset !important;
    }
}

.divUpdateImage {

    .divLabel{
   padding-bottom: toRem(10);
    }

    .divImage3{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: toRem(10);
        padding-bottom: toRem(10);

        img{
            width: auto;
            max-width: 80%;
            height: auto;
        }
    }
   
}

.divItemLabel{
    margin-bottom: toRem(10);
}

.divJobList{
    width: 100%;
    padding-top: toRem(240);
    box-sizing: border-box;
    height: 100%;

    .divJobHeader{
    padding-left: toRem(28);
    width: 100%;
    height: toRem(240);
box-sizing: border-box;
display: flex;
flex-direction: column;
margin-top: toRem(-240);

    .divHeader{
        display: flex;
        align-items: center;
height: toRem(100);
box-sizing: border-box;
padding-top: toRem(10);

        span{
            font-size: toRem(28);
            line-height: toRem(40);
        }
    }

    .divLabel{
        display: flex;
        align-items: center;
height: toRem(60);
border-bottom: 1px solid #ddd;
box-sizing: border-box;


        span{
            font-size: toRem(28);
    color: #222222;
        }
    }

    .addButton{
        width: toRem(200);
        height: toRem(60);
        margin-top: toRem(10);
        margin-bottom: toRem(10);
    }
}
}

.divGroupHeader{
    width: 100%;
    height: toRem(80);
    display: flex;
    flex-direction: row;
    align-items: center;

    .button{
        width: toRem(160);
        margin-left: toRem(20);
    }
}

.divOptionValue{
    
    span{
        display: block;
        padding: toRem(10);
        font-size: toRem(28);
        line-height: toRem(40);
        background-color: #fafafa;
        color: #187FC4;
        border: 1px solid #d9d9d9;
        float: left;
        border-radius: toRem(4);
        margin-right: toRem(16);
        margin-bottom: toRem(10);
    }
}

.divOtherList{
    width: 100%;
    padding-top: toRem(360);
    box-sizing: border-box;
    height: 100%;

    .divOtherHeader{
    padding-left: toRem(30);
    width: 100%;
    height: toRem(360);
box-sizing: border-box;
display: flex;
flex-direction: column;
margin-top: toRem(-360);

    .divHeader{
        display: flex;
        align-items: center;
height: toRem(220);
box-sizing: border-box;
padding-top: toRem(10);

        span{
            font-size: toRem(28);
            line-height: toRem(40);
        }
    }

    .divLabel{
        display: flex;
        align-items: center;
height: toRem(60);
border-bottom: 1px solid #ddd;
box-sizing: border-box;


        span{
            font-size: toRem(28);
    color: #222222;
        }
    }

    .addButton{
        width: toRem(200);
        height: toRem(60);
        margin-top: toRem(10);
        margin-bottom: toRem(10);
    }
}
}

.divQuestionnaireList{
    width: 100%;
    box-sizing: border-box;
    height: 100%;

    .divQuestionnaireHeader{
    padding-left: toRem(30);
    width: 100%;
    height: toRem(80);
box-sizing: border-box;
display: flex;
flex-direction: column;
margin-top: toRem(-80);

    .divHeader{
        display: flex;
        align-items: center;
height: toRem(80);
box-sizing: border-box;

        span{
            font-size: toRem(28);
            line-height: toRem(40);
        }
    }
}
}

.divExperienceList{
    width: 100%;
    padding-top: toRem(200);
    box-sizing: border-box;
    height: 100%;

    .divExperienceHeader{
    padding-left: toRem(30);
    width: 100%;
    height: toRem(200);
box-sizing: border-box;
display: flex;
flex-direction: column;
margin-top: toRem(-200);

    .divHeader{
        display: flex;
        align-items: center;
height: toRem(60);
box-sizing: border-box;
padding-top: toRem(10);

        span{
            font-size: toRem(28);
            line-height: toRem(40);
        }
    }

    .divLabel{
        display: flex;
        align-items: center;
height: toRem(60);
border-bottom: 1px solid #ddd;
box-sizing: border-box;


        span{
            font-size: toRem(28);
    color: #222222;
        }
    }

    .addButton{
        width: toRem(200);
        height: toRem(60);
        margin-top: toRem(10);
        margin-bottom: toRem(10);
    }
}
}

.divDocumentList{
    width: 100%;
    padding-top: toRem(340);
    box-sizing: border-box;
    height: 100%;

    .divDocumentHeader{
    padding-left: toRem(30);
    width: 100%;
    height: toRem(340);
box-sizing: border-box;
display: flex;
flex-direction: column;
margin-top: toRem(-340);

    .divHeader{
        display: flex;
        align-items: center;
height: toRem(100);
box-sizing: border-box;
padding-top: toRem(10);

        span{
            font-size: toRem(28);
            line-height: toRem(40);
        }
    }

    .divLabel{
        display: flex;
        align-items: center;
height: toRem(60);
border-bottom: 1px solid #ddd;
box-sizing: border-box;


        span{
            font-size: toRem(28);
    color: #222222;
        }
    }

    .addButton{
        width: toRem(200);
        height: toRem(60);
        margin-top: toRem(10);
        margin-bottom: toRem(10);
    }
}
}

.divPickerDate{
    :global{
         .am-list-content{
         flex: 2 !important;
         }
        }
}

.divKeywords{

    :global{
        .am-input-extra{
            max-height: unset !important;
        }
    }
}

:global{
.am-list-extra{
    color: #222222 !important;
}
.am-button-primary{
    background-color: #187FC4 !important;
    border: 1PX solid #187FC4 !important;
}
.am-button-small{
    font-size: toRem(28) !important;
}
.am-button-ghost{
    color: #187FC4 !important;
}
.am-tabs-default-bar-tab-active{
    color: #187FC4 !important;
}

.am-tabs-default-bar-underline{
    border: 1px solid #187FC4 !important;
}
}


.divTools{
    width: 100%;

    .divData{
        margin-left: toRem(30);
        margin-right: toRem(30);
        margin-bottom: toRem(30);
    }

    .divData a:last-child .divItem {
        border-bottom: none;
    }

    .spanTitle{
        color: #187FC4;
        font-size: toRem(34);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;
        display:block;
        line-height: toRem(80);
        width: toRem(690);
    }

    .spanContent{
        color: #222222;
        font-size: toRem(30);
        line-height: toRem(40);
        display: block;
    }

    img{
        width: 100%;
    }

    .divButton{
        width: 100%;
        height: toRem(100);
        display: flex;
        align-items: center;
        justify-content: center;

        a{
            width: toRem(160)
            height toRem(40);
            color: #ffffff;
            background-color: #187FC4;
            border-radius: toRem(8);
            padding: toRem(10) toRem(20) toRem(10) toRem(20);;
        }
    }

    .divSelect{
        width: 100%;
        height: toRem(100);
        display: flex;
        align-items: center;

        select{
            height: toRem(60);
            width: 100%;
            border-radius: toRem(8);
            border: 1px solid #187FC4;
        }
    }

    .divToolsItem{
        width: 100%;
        margin-bottom: toRem(30);

        .divInput{
            width: 100%;
            height: toRem(80);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            input{
                width: 45%;
                height: toRem(52);
                border-radius: toRem(8);
                border: 1px solid #187FC4;
            }
        }

        .divResult{
            width: 100%;

            label{
                color: #187FC4;
                font-size: toRem(30);
                line-height: toRem(60);
                display: inline-block;
                width: 100%;
            }

            span{
                color: #187FC4;
                font-size: toRem(28);
                line-height: toRem(48);
                margin-right: toRem(10);
                display: inline-block;
            }
        }
    }
}


.divTools .divItem{
        display: flex;
        flex-direction: column;
        padding-bottom: toRem(30);
        border-bottom: 1px dotted #959595;
        margin-top: toRem(8);

        .spanTitle{
            color: #187FC4;
            font-size: toRem(28);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space:nowrap;
            display:block;
            line-height: toRem(80);
            width: toRem(690);
        }

        .spanContent{
            color: #222222;
            font-size: toRem(26);
            line-height: toRem(40);
            width: toRem(690);
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* autoprefixer: ignore next */
            -webkit-box-orient: vertical;
        }
}

.activityIframe{
    width: 100%;
    height: 100%;
    border: 0;
}

.divPageContent {
    width: 100%;
    padding: 0.9375rem;
    padding-bottom: 5rem;
    font-size: 0.9375rem;
    box-sizing: border-box;
    background-color: #ffffff;

    p,li{
        font-size: toRem(28) !important;
        line-height: toRem(56);
    }
}

.divPageContent img {
    max-width: 100% !important;
    height: auto !important;
}

.divActionForm{
    width: 100%;
}
.divActivity{
    :global{
        .am-input-label, .am-list-content, .am-list-extra, .am-textarea-label, .am-textarea-control textarea, .am-input-control,.am-input-control input{
            font-size: toRem(30) !important;
        }
    
       .am-list-body:after{
            height: 0 !important;
        }
    
        .am-list-body {
            border-bottom: 0 !important;
        }
    
        .am-list-content{
            white-space:normal !important;
            text-overflow:unset !important;
            overflow:auto !important;
            padding-top: toRem(10) !important;
            padding-bottom: toRem(10) !important;
        }
    
        .am-button{
            line-height: toRem(80) !important;
            height: toRem(80) !important;
            font-size: toRem(32) !important;
        }
    
        .am-button-primary:before{
            border: 0 !important;
        }
    
        .am-list-header{
            color: #000000 !important;
            font-size: toRem(30) !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    
        .am-list-item{
            padding-left:  toRem(30) !important;
            min-height: toRem(88) !important;
        }
    
        .am-list-item.am-input-item  {
            height:toRem(88) !important;
            padding-left:  toRem(30) !important;
            min-height: toRem(88) !important;
        }
    
        .am-list-line{
            padding-right:  toRem(30) !important;
        }
    
        .am-list .am-list-item.am-checkbox-item .am-list-thumb .am-checkbox-inner {
            left: toRem(30) !important;
            top: toRem(24) !important;
        }
        .am-checkbox-inner {
            width: toRem(42) !important;
            height: toRem(42) !important;
        }
    
        .am-checkbox-inner:after {
            top: toRem(3) !important;
            right: toRem(12) !important;
            width: toRem(10) !important;
            height: toRem(22) !important;
        }
    
        .am-list .am-list-item.am-radio-item .am-list-line .am-list-extra .am-radio-inner {
            right: toRem(30) !important;
            top: toRem(30) !important;
        }
        .am-radio-inner {
            width: toRem(30) !important;
            height:toRem(30) !important;
        }
    
        .am-list .am-list-item.am-checkbox-item .am-list-thumb {
            width: toRem(42) !important;
            height: toRem(42) !important;
        }
        .am-list-item .am-list-thumb:first-child {
            margin-right:toRem(30) !important;
        }
    
        .am-list-item .am-list-line .am-list-arrow {
            width: toRem(30) !important;
            height:toRem(30) !important;
            margin-left: toRem(16) !important;
        }
    
        .am-checkbox-item, .am-checkbox {
            height: toRem(80) !important;
        }
    }
    
    .divPicker{
        :global{
            .am-list-extra{
                white-space:normal !important;
                text-overflow:unset !important;
                overflow:auto !important;
                flex-basis: 98% !important;
            }
        }
    }
    
    .divContent{
        width: 100%;
        padding: toRem(30);
        font-size: toRem(28);
        box-sizing: border-box;
        background-color: #ffffff;

        p,li{
            font-size: toRem(28) !important;
            line-height: toRem(56);
        }    
    
        img{
            max-width: 100% !important;
            height: auto !important;
        }
    }
    
    .divGroupHeader{
        width: 100%;
        height: toRem(80);
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        background-color: #f5f5f9;
        padding-left: toRem(30) !important;
        box-sizing: border-box;
    
        span{
            line-height: toRem(60);
        }
    
        :global{
            .am-button-small{
                padding: 0 !important;
    
                span{
                    line-height: toRem(50) !important;
                }    
            }
        }
    
        .button{
            width: toRem(160);
            margin-left: toRem(20);
            margin-bottom: toRem(6);
            line-height: toRem(50) !important;
            height: toRem(50) !important;
            font-size: toRem(30) !important;
        }
    }
    
    .divOptionValue{
        
        span{
            display: block;
            padding: toRem(10);
            font-size: toRem(28);
            line-height: toRem(40);
            background-color: #fafafa;
            color: #187FC4;
            border: 1px solid #d9d9d9;
            float: left;
            border-radius: toRem(4);
            margin-right: toRem(16);
            margin-bottom: toRem(10);
        }
    }
    
    .divLabelItem{
        background-color: #f5f5f9;
        min-height: toRem(80) !important;
        padding: 0 !important;
        margin: 0 !important;
       
        :global{
        .am-list-line{
            padding: 0 !important;
            padding-left: toRem(30) !important;
            align-items: flex-end !important;
        }
        .am-list-content{
            padding: 0 !important;
            line-height:toRem(60) !important
        }
        }
    }
    
    .divLabel{
        width: 100%;
        height: toRem(80);
        background-color: #f5f5f9;
        padding-left: toRem(30) !important;
        box-sizing: border-box;
        display: flex;
        align-items: flex-end;
    
        span{
            line-height: toRem(60);
        }
    
    
    }
    
    .divButton{
        padding: 0 !important;
        margin: 0 !important;
        min-height: toRem(120) !important;
        margin-top: toRem(16) !important;
    
        :global{
        .am-list-line{
            padding-left:  toRem(50) !important;
            padding-right:  toRem(50) !important;
            border-bottom: 0 !important;
        }
    }
    }
    
    textarea{
        min-height: toRem(80) !important;
        line-height:toRem(40) !important;
    }
    
    .my-radio{
        :global{
            .am-list-item{
                min-height: toRem(80) !important;
            }
    }
    }
    
    .divResult{
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        padding: toRem(30);
        box-sizing: border-box;
    
        .divResultContent{
            line-height: toRem(60);
            font-size: toRem(32);
        }
    }
    }

.newsTabs,.newsTabs3,.newsTabs4,.newsTabs5,.newsTabs6,.newsTabs7,.newsTabs8{
    width: 100%;
    height: 100%;

    :global{
        .am-tabs-default-bar-tab:nth-child(3),.am-tabs-default-bar-tab:nth-child(4){
        width: 26% !important;
    }
}
}

.tabNewsDetail,.tabNewsDetail3,.tabNewsDetail4,.tabNewsDetail5,.tabNewsDetail6,.tabNewsDetail7,.tabNewsDetail8{
    position: absolute;
    width: 100%;

    :global{
        .am-tabs-default-bar-tab:nth-child(3),.am-tabs-default-bar-tab:nth-child(4){
        width: 26% !important;
    }

        .am-tabs{
            height: auto;
        }
    }
}

.newsTabs3,.tabNewsDetail3{
    :global{
        .am-tabs-default-bar-underline{
            width: 26% !important;
            left:40% !important;
        }
    }
}
.newsTabs4,.tabNewsDetail4{
    :global{
        .am-tabs-default-bar-underline{
            width: 26% !important;
            left:66% !important;
        }
    }
}
.newsTabs5,.tabNewsDetail5{
    :global{
        .am-tabs-default-bar-underline{
            left:92% !important;
        }
    }
}
.newsTabs6,.tabNewsDetail6{
    :global{
        .am-tabs-default-bar-underline{
            left:112% !important;
        }
    }
}
.newsTabs7,.tabNewsDetail7{
    :global{
        .am-tabs-default-bar-underline{
            left:132% !important;
        }
    }
}
.newsTabs8,.tabNewsDetail8{
    :global{
        .am-tabs-default-bar-underline{
            left:152% !important;
        }
    }
}