<!Doctype html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{${global.staticHost}+'/pc/'+${global.xxdVersion}+'/build/css/i/favicon.ico'}">
    <link rel="Bookmark" th:href="@{${global.staticHost}+'/pc/'+${global.xxdVersion}+'/build/css/i/favicon.ico'}">
    <title>日日盈-加入记录-我的新新贷</title>
    <meta name="keywords" content="新新贷，P2P网贷，P2P理财，投资理财，网上理财，新元宝，月月派，新手专享，投融资，贷款，企业贷款，无抵押小额贷款，借款"/>
    <meta name="description"
          content="新新贷是中国专业的互联网金融P2P网络借贷信息中介平台，为出借人和借款人提供省心的互联网金融信息服务。资金银行存管、严格的风控体系、信息披露透明等多重安全保障措施。"/>
    <link th:href="@{${global.staticHost}+'/pc/'+${global.xxdVersion}+'/build/mods/user/tender/dayProfit/_.css'}" rel="stylesheet">
</head>
<body>
<div id="J_wrapBody">
    <!--头部 start-->
    <div th:replace="common/header::header"></div>
    <!--头部 end-->
    <div class="g-top">
        <div class="g-top-con">
            <div class="container-1200">
                <a href="../../">首页</a> &gt; <a href="/usercenter/accountInfo.html">我的新新贷</a> &gt;
                <a href="javascript:void(0);">加入记录</a> &gt; <a href="javascript:void(0);">日日盈</a>
            </div>
        </div>
    </div>
    <div class="info-contaner clearfix">
        <!--左侧菜单-->
        <div th:replace="usercenter/common/menu::menu('tender', 'dayProfit')"></div>
        <!--右侧内容区域-->
        <div class="g-right">
            <div class="m-con-wrap">
                <div class="m-con-hd user-title">
                    <li class='active'><a href="#">日日盈</a></li>
                </div>
                <div class='day-income'>
                    <div class='bg-box'>
                        <p>累计收益</p>
                        <span><i id='allIncome'>0</i>元</span>
                    </div>
                </div>
                <div  id='J_tabs' class='day-title'>
                    <li class='active'><a href="#">收益</a></li>
                    <li><a href="#">转入</a></li>
                    <li><a href="#">转出</a></li>
                </div>
                <div class='j_tabContent'>
                    <div class='table-box'>
                        <table id='incomeTable'>
                            <tr class='title'>
                                <th>日期</th>
                                <th>金额(元)</th>
                                <th>说明</th>
                            </tr>
                        </table>
                        <div class="pagination incomeTable-page"></div>
                    </div>
                </div>
                <div class='j_tabContent hide'>
                    <div class='table-box'>
                        <table id='inTable'>
                            <tr class='title'>
                                <th>日期</th>
                                <th>金额(元)</th>
                                <th>说明</th>
                            </tr>
                        </table>
                        <div class="pagination inTable-page"></div>
                    </div>
                </div>
                <div class='j_tabContent hide'>
                    <div class='table-box'>
                        <table id='outTable'>
                            <tr class='title'>
                                <th>日期</th>
                                <th>金额(元)</th>
                                <th>说明</th>
                            </tr>
                        </table>
                        <div class="pagination outTable-page">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--尾部 start-->
    <div th:replace="common/footer::footer (${globalData},${global.xxdVersion})"></div>
    <!--尾部 end-->
</div>
<!--[if lt IE 9]>
<iframe id="ifr_cover" frameborder="0" class="hide" scrolling="no"></iframe>
<div id="alertBoxWrap" class="hide"></div>
<![endif]-->
</body>
<script th:src="@{${global.staticHost}+'/pc/'+${global.xxdVersion}+'/build/mods/user/tender/dayProfit/_.js'}"></script>
</html>
