<div>
    <table border="0">
        <tr>
            <td>
                <img alt="" border="0" src="http://localhost/aow/images/logo.png" width="164" height="65" />
            </td>
            <td class="tdTitle">销售订单</td>
        </tr>
    </table>
    <table border="0" class="Table1">
        <tr>
            <td class="tdRight">订货日期：</td>
            <td style="width: 360px;">2018-04-16</td>
            <td class="tdRight">账户名：</td>
            <td>汪边李</td>
        </tr>
        <tr>
            <td class="tdRight">发货日期：</td>
            <td style="width: 360px;">2018-04-16</td>
            <td class="tdRight">汇款账号：</td>
            <td>6228 4800 3111 7590 716</td>
        </tr>
        <tr>
            <td class="tdRight">单号：</td>
            <td style="width: 360px;">18041602</td>
            <td class="tdRight">开 户 行：</td>
            <td>农业银行上海友谊路支行</td>
        </tr>
    </table>
    <div style="height: 1px; width: 100%; background: #000000;">
    </div>
    <table border="0" class="Table2">
        <tr>
            <td>定货公司：</td>
            <td class="tdSpan">上海捍高家具有限公司</td>
            <td>送货地址：</td>
            <td>山水一号302</td>
        </tr>
    </table>
    <table border="0" class="Table2">
        <tr>
            <td>联 络 人：</td>
            <td class="tdSpan">朱志均 18932227889</td>
            <td>电  话：</td>
            <td class="tdSpan">18932227889</td>
            <td>传  真：</td>
            <td>18932227889</td>
        </tr>
    </table>
</div>
