<div>

    <table border="0">
        <tr>
            <td>
                <img alt="" border="0" src="http://localhost/aow/images/logo.png" width="164" height="65" />
            </td>
            <td class="tdTitle">销售订单</td>
        </tr>
    </table>
    <order orderid="${OrderId}">
    <table border="0" class="Table1">
        <tr>
            <td class="tdRight">订货日期：</td>
            <td style="width: 360px;">${order.OrderDate}</td>
            <td class="tdRight">账户名：</td>
            <td>${order.CreateUserName}</td>
        </tr>
        <tr>
            <td class="tdRight">发货日期：</td>
            <td style="width: 360px;">${order.DeliveryDate}</td>
            <td class="tdRight">汇款账号：</td>
            <td>${order.BankCardCode}</td>
        </tr>
        <tr>
            <td class="tdRight">单号：</td>
            <td style="width: 360px;">${order.OrderCode}</td>
            <td class="tdRight">开 户 行：</td>
            <td>${order.BankOpenName}</td>
        </tr>
    </table>
    <div style="height: 1px; width: 100%; background: #000000;">
    </div>
        <customer customerid="${order.CustomerId}">
    <table border="0" class="Table2">
        <tr>
            <td>定货公司：</td>
            <td class="tdSpan">${customer.CompanyName}</td>
            <td>送货地址：</td>
            <td>${customer.DepotAddress}</td>
        </tr>
    </table>
    <table border="0" class="Table2">
        <tr>
            <td>联 络 人：</td>
            <td class="tdSpan">${customer.Linkman} ${customer.Phone}</td>
            <td>电  话：</td>
            <td class="tdSpan">${customer.Telephone}</td>
            <td>传  真：</td>
            <td>${customer.Fax}</td>
        </tr>
    </table></customer>
    <table border="0" class="Table3" cellpadding="0" cellspacing="0">
        <tr>
            <td>订购门板花式：<span>${order.OrderName}</span></td>
        </tr>
    </table>
    <table border="0" cellpadding="0" cellspacing="0" class="tableDetail">
        <tr>
            <td class="tdStart">序号</td>
            <td>面积(㎡)</td>
            <td>单价(元/㎡)</td>
            <td>金额(RMB)</td>
            <td>高(mm)</td>
            <td></td>
            <td>宽(mm)</td>
            <td></td>
            <td>厚(mm)</td>
            <td>数量(件)</td>
        </tr>
            <detail1 orderid="${OrderId}">
        <tr>
            <td class="tdStart">${detail1.DisplayIndex}</td>
            <td>${detail.Area}</td>
            <td>${detail.Price}</td>
            <td>${detail.Amount}</td>
            <td>${detail.Height}</td>
            <td>×</td>
            <td>${detail.Width}</td>
            <td>×</td>
            <td>${detail.Thickness}</td>
            <td>${detail.Number}</td>
        </tr>
        <tr>
            <td class="tdStart" colspan="10" style="text-align: left;">${detail1.Remark}</td>
        </tr>
        </detail1>
        <detail2 orderid="${OrderId}">
        <tr>
            <td class="tdStart">${detail2.DisplayIndex}</td>
            <td></td>
            <td></td>
            <td>${detail2.Amount}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td class="tdStart" colspan="10" style="text-align: left;">${detail2.Remark}</td>
        </tr>
        </detail2>
        <tr>
            <td class="tdStart">合计:</td>
            <td>${order.TotalArea} </td>
            <td></td>
            <td>${order.ActualAmount}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>${order.TotalNumber}</td>
        </tr>
    </table>

    <table border="0" class="table4" cellpadding="0" cellspacing="0">
        <tr>
            <td>金额合计	:（小写）	${order.ActualAmount}	元	（大写）		${order.ActualAmount2}	</td>
        </tr>
    </table>

    <table border="0" class="table5" cellpadding="0" cellspacing="0">
        <orderremark orderid="${OrderId}">
        <tr>
            <td class="tdStart">${orderremark.Label}</td>
            <td>${orderremark.Remark}</td>
        </tr>
        </orderremark>
    </table>

    <table border="0" class="table6" cellpadding="0" cellspacing="0">
        <tr>
            <td class="tdStart" style="border-top: 1px solid #000000">营业代表：${order.CreateUserName}${order.CreateUserPhone}     </td>
            <td style="border-top: 1px solid #000000">核准：	</td>
            <td style="border-top: 1px solid #000000; width: 60px;">付款方式：</td>
            <td style="border-top: 1px solid #000000;">银行汇款&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
        </tr>
        <tr>
            <td class="tdStart" colspan="2">制    单：${order.CreateUserName}</td>
            <td>已交订金：	</td>
            <td>${order.PaidDeposit}</td>
        </tr>
        <tr>
            <td class="tdStart" colspan="2">*以上订单已核对无误。 客户确认签字：</td>
            <td>应付余款：</td>
            <td>${order.ShouldPayBalance}</td>
        </tr>
    </table>
        </order>
</div>
