.divBox{
    /* flex-flow: row wrap; */
    flex: 1;
    flex-direction: row;
    
}

.blankdiv{
    width: 100%;
    height: 0.8rem;
}

.bottomdiv{
    width: 100%;
    height: 3rem;
font-size:0.5rem;
font-family:SourceHanSansCN-Normal;
color:#767676;
line-height:1.25rem;
text-align: center;
}

.productItem{
    width: 50%;
}

.verticalblankdiv {
    width: 12.72rem;
    height: 12.5rem;
  }