<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>


<div class="g-left" th:fragment="menu (i, j)">
    <div class="menu">
        <h2><a href="/usercenter/accountInfo.html">我的新新贷</a></h2>
        <ul>
            <li><a  href="javascript:void(0);" th:class="${i=='fundRecord' ? 'active':''}">资金记录</a>
                <div class="sub">
                    <a href="/usercenter/fundRecord/dealDetail.html"><i th:if="${j=='dealDetail'}"></i><strong>交易明细</strong></a>
                    <a href="/usercenter/recharge.html"><i th:if="${j=='recharge'}"></i><strong>充值</strong></a>
                    <a href="/usercenter/withdraw.html"><i th:if="${j=='withdraw'}"></i><strong>提现</strong></a>
                    <a href="/usercenter/fundRecord/coinLog.html"><i th:if="${j=='coinLog'}"></i><strong>新新币</strong></a>
                </div>
            </li>
            <li><a href="javascript:void(0);" th:class="${i=='tender' ? 'active':'' }">出借管理</a>
                <div class="sub">
                    <a href="/usercenter/tender/thirtytender.html"><i th:if="${j=='thirtytender'}"></i><strong>新元宝(新手专享)</strong></a>
                    <a th:if="${isInvestQTDS}" href="/usercenter/tender/sevengold.html"><i th:if="${j=='sevengold'}"></i><strong>七天大胜</strong></a>
                    <a href="/usercenter/tender/monthgold.html"><i th:if="${j=='monthgold'}"></i><strong>月进斗金</strong></a>
                    <a th:if="${isInvestRRY}" href="/usercenter/tender/dayProfit.html"><i th:if="${j=='dayProfit'}"></i><strong>日日盈</strong></a>
                    <a href="/usercenter/tender/goldIngot.html"><i th:if="${j=='goldIngot'}"></i><strong>新元宝</strong></a>
                    <a th:if="${isInvestBBGS}" href="/usercenter/tender/stepDetail.html"><i th:if="${j=='stepDetail'}"></i><strong>步步高升</strong></a>
                    <a href="/usercenter/tender/monthSend.html"><i th:if="${j=='monthSend'}"></i><strong>月月派</strong></a>
                    <a href="/usercenter/tender/investment.html"><i th:if="${j=='investment'}"></i><strong>散标直投</strong></a>
                    <a href="/usercenter/tender/creditortTansfer.html"><i th:if="${j=='creditortTansfer'}"></i><strong>债权转让</strong></a>
                    <a th:if="${isInvestXSB}" href="/usercenter/tender/newtender.html"><i th:if="${j=='newtender'}"></i><strong>新手标</strong></a>
                </div>
            </li>
            <li><a href="javascript:void(0);" th:class="${i=='loan' ? 'active':'' }">借款管理</a>
                <div class="sub">
                    <a href="/account/loanmanage.html"><strong>借款申请</strong></a>
                    <a href="/account/repaydetail.html"><strong>还款明细</strong></a>
                    <a href="/borrow/dataUpload/water.html?infoType=1"><strong>资料上传</strong></a>
                </div>
            </li>
            <li><a href="javascript:void(0);" th:class="${i=='personalData' ? 'active':'' }">个人资料</a>
                <div class="sub">
                    <a href="/usercenter/personalInfo.html"><i th:if="${j=='personalInfo'}"></i><strong>我的资料</strong></a>
                    <a href="/usercenter/bundled.html"><i th:if="${j=='bundled'}"></i><strong>银行设置</strong></a>
                    <a href="/usercenter/securitySettings.html"><i th:if="${j=='securitySettings'}"></i><strong>安全设置</strong></a>
                    <a href="/usercenter/questionnaire.html"><i th:if="${j=='questionnaire'}"></i><strong>风险测评</strong></a>
                </div>
            </li>

            <li><a href="/usercenter/coupon.html" th:class="${i=='activity' ? 'active':'' }">我的奖励</a></li>
            <li><a href="/usercenter/inviteFriends/inviteFriendsDetail.html" th:class="${i=='invite' ? 'active':'' }">邀请好友</a></li>
            <li><a href="javascript:void(0);" th:class="${i=='message' ? 'active':'' }">消息管理</a>
                <div class="sub">
                    <a href="/account/message.html"><i th:if="${j=='message'}"></i><strong>站内信</strong></a>
                    <a href="/userNotice/userNoticeConfig.html"><i th:if="${j=='message'}"></i><strong>用户消息设置</strong></a>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="g-left" th:fragment="company-menu (i, j)">
    <div class="menu">
        <h2><a href="/usercenter/company/account.html">我的新新贷</a></h2>
        <ul>
            <li>
                <a href="javascript:void(0);" th:classappend="${i=='userinfo' ? 'active':''}">账户总览</a>
                <div class="sub">
                    <a href="/usercenter/company/account-info.html"><i th:if="${j=='account-info'}"></i><strong>基本信息</strong></a>
                    <a href="/usercenter/company/dealDetail.html"><i th:if="${j=='dealDetail'}"></i><strong>交易明细</strong></a>
                    <a href="/usercenter/company/recharge.html"><i th:if="${j=='recharge'}"></i><strong>充值</strong></a>
                    <a href="/usercenter/company/withdraw.html"><i th:if="${j=='withdraw'}"></i><strong>提现</strong></a>
                </div>
            </li>
            <li>
                <a href="javascript:void(0);" th:classappend="${i=='loan' ? 'active':''}">借款信息</a>
                <div class="sub">
                    <a href="/account/loanmanage.html"><strong>借款申请</strong></a>
                    <a href="/account/repaydetail.html"><strong>还款明细</strong></a>
                    <a href="/borrow/dataUpload/water.html"><strong>资料上传</strong></a>
                </div>
            </li>
            <li><a href="/usercenter/company/bundled.html" th:classappend="${i=='bundled' ? 'active':''}"><i th:if="${j=='bundled'}"></i><strong>银行设置</strong></a></li>
            <li><a href="/usercenter/company/security-settings.html" th:classappend="${i=='securitySettings' ? 'active':''}"><i th:if="${j=='securitySettings'}"></i><strong>安全设置</strong></a></li>
        </ul>
    </div>
</div>

</body>

</html>
