<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="51200" executionTimeout="300"/>
  </system.web>
  <appSettings>
    <add key="ComponentNamespace" value="AbetOrder.Component"/>
    <add key="EntityModelNamespace" value="AbetOrder.Entity"/>
    <add key="IsLog" value="true"/>
    <add key="PaidDepositBillTypeId" value="E5C5CBB4-FC00-42B4-B0A3-7A171751962F"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.;Initial Catalog=AbetOrder;Integrated Security=True;"/>
  </connectionStrings>
  
  <system.webServer>

    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,SOAPAction,ReferrerReqId,X-Requested-With" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>

    <staticContent>
      <remove fileExtension=".json" />

      <mimeMap fileExtension=".json" mimeType="application/json"/>
    </staticContent>
    
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
