<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SocketServiceHost" value="127.0.0.1"/>
    <add key="SocketServiceSendPort" value="8768"/>
    <add key="SocketServiceReceivePort" value="8765"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>