*/bin/
*/obj/
/packages/
*.zip
*.rar
*.dll
*/Logs/
*.suo
*.Debug.config
*.Release.config
*.ocx
/dll/
*.user
*.suo
*/zips/
*/release/
*/Properties/PublishProfiles/
*.doc
*.docx
*.xls
*.xlsx
*.pdf
*.mp4
*.pdf
*.docx
*.doc
*.xps