.mui-dialog-float {
  width: 280px;
  padding-bottom: 20px;
  text-align: center;
  background: white;
  box-shadow: inset 1px 1px 4px #d9d9d9;
  border: #d9d9d9 1px solid;
}
.mui-dialog-float .mui-float-title {
  display: inline-block;
  font: normal 18px/50px "microsoft yahei";
  color: #808080;
  margin-top: 10px;
  padding-left: 20px;
  background: url("i/normal.png") left center no-repeat;
}
.mui-dialog-float .mui-float-content {
  font: normal 15px/20px "microsoft yahei";
  padding: 10px;
}
.mui-dialog-float .mui-float-confirm {
  display: inline-block;
  width: 150px;
  height: 38px;
  text-align: center;
  color: white;
  background: #3F9BFF;
  font: normal 15px/38px "microsoft yahei";
  text-decoration: none;
}
.mui-preview {
  position: relative;
  display: inline-block;
  width: 700px;
  height: 700px;
  text-align: center;
  background: white;
  overflow: hidden;
}
.mui-preview .close {
  position: absolute;
  right: 8px;
  top: -5px;
  color: #999;
  text-shadow: 0 1px 0 #ffffff;
  font: bold 20px/46px "microsoft yahei";
  text-decoration: none;
}
.mui-preview .close:hover {
  color: #000;
}
.mui-preview img {
  display: inline-block;
  vertical-align: middle;
  max-height: 700px;
  max-width: 700px;
}
