.mui-slider{width:100%; height:390px; overflow:hidden; position:relative; max-width:1920px; margin:0 auto;}
.mui-slider ul{top:0; left:0; position:absolute;}
.mui-slider ul li{width:100%; height:390px; position:relative; overflow:hidden;}
.mui-slider ul li img{width:1920px; height:390px; top:0; left:50%; margin-left:-960px; position:absolute;}
.mui-slider ul li h2{width:100%; height:40px; line-height:40px; top:0; left:0; position:absolute; background:#000000; color:#ffffff; font-size:20px; font-weight:bold; filter:alpha(opacity=50); -moz-opacity:0.5; opacity:0.5;}
.mui-slider ul li span{width:100%; height:auto; line-height:24px; top:40px; left:0; position:absolute; display:block; color:#000000; font-size:16px;}
.mui-slider ol{width:100%; text-align:center; bottom:25px; position:absolute; z-index:1;}
.mui-slider ol li{width:22px; height:4px; display:inline-block; background:#eeeeee; margin:0 3px; cursor:pointer;}
.mui-slider ol .current{background:#2096e9;}
.mui-slider .controlBox{display:none;}
.mui-slider .controlBox .pre{width:100px; height:100%; top:0; left:0; position:absolute; cursor:pointer; background:url(../../images/slider_pre.png) 50% 50% no-repeat;}
.mui-slider .controlBox .next{width:100px; height:100%; top:0; right:0; position:absolute; cursor:pointer; background:url(../../images/slider_next.png) 50% 50% no-repeat;}

.mui-slider.sliderType1 ul{width:100%; height:390px;}
.mui-slider.sliderType1 ul li{top:0; left:0; position:absolute; display:none;}
.mui-slider.sliderType2 ul{width:auto; height:390px;}
.mui-slider.sliderType2 ul li{float:left; display:inline; position:relative;}
.mui-slider.sliderType3 ul{width:100%; height:auto;}