@import "~taro-ui/dist/style/index.scss";
@import './style/dataRow.scss';

page{
  height: 100%;
}

.formItem{
  display: flex;
  flex-direction: column;

  .label{
     height: 80px;
     line-height: 80px;
     margin-left: 30px;

     .textLabel{
      padding-left: 20px;
      color: #6a6a77;
     }

     .redLabel{
      color: red;
      position: relative;
      top: 8px;
      margin-left: 20px;
     }
  }

  .label::before{
    content: "";
    display: inline-block;
    position: relative;
    left: 0px;
    width: 2PX;
    height: .85333rem;
    background-color: #6190e8;
    box-shadow: 0 0.14933rem 0.256rem 0 rgba(97,144,232,.2);
    border-radius: 1PX;
   }
}

.button1{
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.navBarSpace{
  width: 100%;
  height: 120px;
}

.picker{
  padding: 24px 24px;
  box-sizing: border-box;
  color: #333;
  line-height: 1.5;
  transition: background-color 0.3s;
}

.select2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  padding-right: 20px;
  position: relative;
}

.select2::after{
  content: '';
position: absolute;
-webkit-transform-origin: center;
transform-origin: center;
box-sizing: border-box;
pointer-events: none;
top: auto;
left: 24rpx;
right: 0;
bottom: 0;
-webkit-transform: scaleY(0.5);
transform: scaleY(0.5);
border-bottom: 1PX solid #d6e4ef;
}

.activityIndicator{
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.personCenter{
.userImage{
  height: 200px;
  width: 200px;
	line-height: 200px;
}

.at-list__item-extra{
  max-width: none !important;
}
}
